{% if _show_sidebar and templates and 'sidebar_template' in templates and templates.get('sidebar_template') != '' %}
  <aside id="sidebar"
         x-bind:class="sidebarOpen ? 'w-64' : 'w-0'"
         class="fixed left-0 bg-base-200 transition-all duration-300 z-20 overflow-y-auto overflow-x-hidden min-w-0"
         style="top: calc(var(--app-header-height) + var(--viewport-warning-height));
                height: calc(100vh - var(--app-header-height) - var(--viewport-warning-height))">
    {% include templates.get('sidebar_template') %}
  </aside>
{% endif %}
