{% from "macros/table.html" import table_search_bar, table with context %}
<div class="flex gap-4">
  <div class="grow-0">
    <button hx-get={{ routes.edit_route }} hx-swap="innerHTML" hx-target="#form-container" class="btn btn-primary">
      New {{ name }}
    </button>
  </div>
  {{ table_search_bar('{{ model_name }}-table') }}
</div>

{% set columns =  columns | default([
    {'title': 'name', 'field': 'name', 'sortable': True, 'renderer': None},
    {'title': 'description', 'field': 'description', 'sortable': False, 'renderer': None}
]) %}

{% set data = model_plural_name | get_var %}

{{ table('{{ model_name }}-table', data, columns, routes.base_route) }}
