{% from "macros/forms.html" import form_input, form_select, form_textarea %}
{% from "macros/datatable.html" import datatable %}

{% set form_error = form_error | default({}) %}
{% set form_fields = [{}] %}
<div class="bg-base-100 p-4">
  <h1 class="text-3xl font-bold mb-5 w-3/4 ml-[10%]">{{ submit_text }}</h1>

  <form id="{{ model_name }}-form" class="w-1/2 ml-[10%]" {{ form_action }} hx-swap="innerHTML"  hx-target="#form-container" hx-target-error="#form-container">
    {% if error %}
    <p class="text-3xl font-bold mb-4 error-msg">{{ error }}</p>
    {% endif %}

    {% for field in form_fields %}
      {% if field.type == 'text' || field.type == 'number' %}
        {{ form_input(field.label, field.name, field.value, form_error[field.name], type=field.type, required=field.required) }}
      {% elif field.type == 'textarea' %}
        {{ form_textarea(field.label, field.name, field.value, form_error[field.name], required=field.required) }}
      {% elif field.type == 'select' %}
        {{ form_select(label=field.label, name=field.name, value=field.value, options=field.options) }}
      {% elif field.type == 'switch' %}
        {{ form_switch(field.label, field.name, field.value, required=field.required) }}
      {% endif %}
    {% endfor %}

    {{ datatable('OSINT Sources', osint_sources, columns, osint_source_group.osint_sources, selectable=true, input_name="osint_sources[]") }}
    <input type="submit" class="btn btn-primary w-1/2" value="{{ submit_text }}" />
  </form>
</div>
