node_modules
venv
.venv
dist
**/venv
**/.venv
**/node_modules
.env
**/.env
.git
.github
.buildx-cache
.buildx-cache-new
resources
src/tests
src/core/tests
src/frontend/tests
src/worker/tests
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.vscode
**/.python-version
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/*.egg-info
**/build
**/dist
**/tests
!src/
!src/frontend/
!src/frontend/tests/
!src/frontend/tests/load/
!src/frontend/tests/load/Containerfile
!src/frontend/tests/load/pyproject.toml
!src/frontend/tests/load/uv.lock
**/*.zip
