# built and cached files
venv/
__pycache__/
*.pyc
node_modules/
dist/
build/

# temporary files of editors
.DS_Store
.*.sw?
.~
*.*~
*.bak

# sensitive data not to be commited
.env.local
.env.*.local
*.pem
*.key
*.log

# settings of editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
