
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.1
    hooks:
      - id: ruff
        files: ^(src/core|src/worker)
      - id: ruff-format
        files: ^(src/core|src/worker)

  - repo: local
    hooks:
      - id: eslint
        name: lint
        language: node
        entry: npm --prefix src/gui run lint_and_format
        files: ^src/gui
        types_or: [javascript, jsx, ts, tsx, vue]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
