exclude: ^src/frontend/frontend/static/.*$

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff-check
        files: ^(src/core|src/worker|src/frontend|src/models)
        exclude: ^src/core/migrations/
        args: [--fix, --select, I]
      - id: ruff-format
        files: ^(src/core|src/worker|src/frontend|src/models)
        exclude: ^src/core/migrations/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: djlint-reformat-jinja
        name: djlint
        language: system
        files: ^src/frontend/frontend/templates
        entry: uvx djlint --profile=jinja --reformat
        types_or: [jinja, html]
