<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Taranis AI - Your AI-powered assistant platform.">
    <meta name="keywords" content="AI, Taranis, assistant, artificial intelligence, platform">
    <title>Taranis AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">

    <script src="{{ url_for('static', filename='vendor/vendor.bundle.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/vendor.bundle.css') }}">

    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <meta name="htmx-config" content='{"selfRequestsOnly": false}' />
    {% block head %}
    {% endblock head %}
  </head>

  <body>
    <main class="min-h-screen flex flex-col">
      {% include "notification/index.html" %}
      {% include "login/login.html" %}
      {% if notification %}
        <div class="flex flex-1 items-center justify-center px-4">
          <div role="alert" class="alert alert-warning shadow-lg w-full max-w-xl text-center">
            {{ notification.get('message', 'Error contacting Core API') }}
          </div>
        </div>
      {% endif %}
    </main>
  </body>
</html>
