{% from "macros/query_params.html" import update_query_params with context %}
<div class="flex gap-4">

<div class="grow-0">
  <div hx-get={{ url_for('admin.edit_user', user_id=0) }} hx-swap="innerHTML" hx-target="#user-form-container" class="btn btn-primary">
    New User
  </div>
</div>

<div class="grow">
  <form
    hx-get="{{ request.path }}"
    hx-push-url="true"
    hx-target="#{{ table_id }}"
    hx-trigger="input delay:500ms"
  >
    <input
      type="search"
      name="search"
      class="input w-full"
      placeholder="Search..."
    />
  </form>
</div>


{% include 'partials/import_export.html' %}

</div>