{% extends 'base.html' %}
{% block head %}
<link href="{{ url_for('static', filename='css/tom-select.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/tom-select.complete.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="p-8" id="{{ model_name }}">
  <div class="text-3xl font-bold mb-4">
    <a href="{{ url_for('admin.users') }}" class="text-blue-500 hover:underline">{{ name }}</a>
  </div>
  <div class="bg-base p-4" id="form-container">
    {% include 'user/user_form.html' %}
  </div>
</div>
{% endblock %}
