{% extends 'base.html' %}
{% from 'macros/cards.html' import dashboard_card %}

{% block content %}
<div class="p-4" id="dashboard">
  <div class="text-3xl font-bold mb-4">Admin Dashboard</div>

  <div class="grid grid-flow-row-dense grid-cols-3 gap-4 pb-4">
    {% call dashboard_card('Assess', '/assess', 'inbox-stack') %}
      There are <strong>{{ data.total_news_items }}</strong> total Assess items.
    {% endcall %}
        {% call dashboard_card('Analyze', '/analyze') %}
      There are <b>{{ data.report_items_completed }}</b> completed analyses.
      <br/>
      There are <b>{{ data.report_items_in_progress }}</b> pending analyses.
    {% endcall %}

    {% call dashboard_card('Publish', '/publish') %}
      There are <b>{{ data.total_products }}</b> products ready for publications.
    {% endcall %}
  </div>

  <div class="grid grid-flow-row-dense grid-cols-3 gap-4 mt-4">
    {% call dashboard_card('Connectors', '/connectors') %}
      There are <b>{{ data.conflict_count }}</b> conflicts detected.
    {% endcall %}

    {% call dashboard_card('Workers', '/config/workers') %}
      There are <b>{{ data.schedule_length }}</b> tasks scheduled.
      <br/>
      Last successful run <b>{{ data.latest_collected }}</b>
    {% endcall %}
    {% call dashboard_card('Database') %}
      There are <b>{{ data.total_database_items }}</b> live items.
    {% endcall %}
  </div>
</div>
{% endblock %}
