{% extends "base.html" %}
{% from 'dashboard/cards.html' import dashboard_card %}

{% block content %}
  <div class="p-4" id="dashboard">
    <div class="text-3xl font-bold mb-4">Admin Dashboard</div>

    <div class="grid grid-flow-row-dense grid-cols-3 gap-4 pb-4">
      {% call dashboard_card('Assess', '/assess') %}
        <div class="join">{{ heroicon_outline('newspaper') }} There are <pre> {{ data.total_news_items }} </pre> total news items.</div>
        <br />
        <div class="join">{{ heroicon_outline('inbox-stack') }} There are <pre> {{ data.total_story_items }} </pre> total story items.</div>
      {% endcall %}
      {% call dashboard_card('Analyze', '/analyze') %}
        <div class="join">{{ heroicon_outline('chart-bar') }} There are <pre> {{ data.report_items_completed }} </pre> completed analyses.</div>
        <br />
        <div class="join">{{ heroicon_outline('chart-bar') }} There are <pre> {{ data.report_items_in_progress }} </pre> pending analyses.</div>
      {% endcall %}

      {% call dashboard_card('Publish', '/publish') %}
        <div class="join">{{ heroicon_outline('paper-airplane') }} There are <pre> {{ data.total_products }} </pre> products ready for publications.</div>
      {% endcall %}
    </div>

    <div class="grid grid-flow-row-dense grid-cols-3 gap-4 mt-4">
      {% call dashboard_card('Connectors', '/connectors') %}
        There are <b>{{ data.conflict_count }}</b> conflicts detected.
      {% endcall %}

      {% call dashboard_card('Workers', '/config/workers') %}
        There are <b>{{ data.schedule_length }}</b> tasks scheduled.
        <br />
        Last successful run <b>{{ data.latest_collected }}</b>
      {% endcall %}
    </div>
  </div>
{% endblock content %}
