{% if data.report_items|length != 1 -%}
This Template needs exactly one Report
{% else -%}
{% set report = data.report_items[0].attributes -%}
{% set stories = data.report_items[0].stories -%}

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CERT.at  - Tageszusammenfassung</title>
    <link rel="stylesheet" href="https://cert.at/css/app.css">
  </head>
  <body>
    <div class="container-fluid stage bg-shadow">
      <div class="container stage-push-top stage-domain-statiskten stage-body content-section" role="main">
      <div class="row">
      <div class="col-sm-12">
        <h1>Tageszusammenfassung - {{ report.date }}</h1>
        <h2>End-of-Day report</h2>
          Timeframe:   {{ report.timeframe }}
          Handler:     {{ report.handler }}
          Co-Handler:  {{ report.co_handler }}

        {% for group in ['News' , 'Vulnerabilities'] -%}
        <h2> {{ group }} </h2>
        {% for group_id in report[group.lower()].split(',') -%}
        {% for story in stories -%}
        {% if story.id|string == group_id -%}
        <h3>{{ story.title }}</h3>
        <p>
        {% if story.summary|length -%}
        {{ story.summary }}
        {% else -%}
        {{ story.news_items[0].content }}
        {%- endif %}
        </p>
        {% for item in story.news_items -%}
        <p><a href="{{ item.link }}">{{ item.link }}</a></p>
        {% endfor %}
        <hr>
        {%- endif %}
        {%- endfor %}
        {%- endfor %}
        {%- endfor %}
      </div>
      </div>
      </div>
    </div>
  </body>
</html>
{% endif -%}