{% from "macros/forms.html" import form_input, form_select, form_input_content %}
{% from "macros/datatable.html" import datatable %}

{% set form_error = form_error | default({}) %}
{% set roles = roles | default([]) %}
<div class="bg-base-100 p-4">

  <form id="acl-form" class="w-3/4 ml-[10%]" {{ form_action }} hx-swap="innerHTML"  hx-target="#form-container" hx-target-error="#form-container">
    {% include "acl/acl_form_warning.html" %}
    {% if error %}
    <p class="text-3xl font-bold mb-4 error-msg">{{ error }}</p>
    {% endif %}

    {{ form_input('Name', 'name', acl.name, form_error.name) }}
    {{ form_input('Description', 'description', acl.description, form_error.description) }}

    <div class="join gap-1 w-3/4">
    <label class="select w-full">
      <span class="label">Item Type</span>
        <select id="item_type"
                name="item_type"
                required
                class="validator select w-full"
                hx-get="{{ url_for('admin.acl_item_ids') }}"
                hx-trigger="change"
                hx-include="#item_type"
                hx-target="#item_ids"
                hx-swap="innerHTML">
        {% if not acl.item_type %}
        <option value="" selected disabled>Select an item type</option>
        {% endif %}
        {% for option in item_types -%}
        <option value="{{ option.id }}" {% if option.id == acl.item_type %}selected{% endif %}>{{ option.name }}</option>
        {% endfor -%}
      </select>
    </label>
    <label class="select w-full" id="item_ids">
      <span class="label">Item ID</span>
      <select name="item_id_select" required disabled class="validator select w-full">
        {% for option in item_ids -%}
        <option value="{{ option.id }}" {% if option.id == acl.item_id %}selected{% endif %}>{{ option.name }}</option>
        {% endfor -%}
      </select>
    </label>
    </div>

    <div class="w-3/4">
    <h4 class="text-l font-bold mb-1 mt-5">Roles</h4>
    {{ datatable('roles-table', roles, columns, acl.roles, selectable=true, input_name="roles[]") }}
    </div>
    <input type="submit" class="btn btn-primary w-full" value="{{ submit_text }}" />
  </form>
</div>
