{% from "macros/forms.html" import form_input, form_select, form_input_content %}
{% from "macros/datatable.html" import datatable %}

{% set item_types = [
  { 'id': 'osint_source', 'name': 'OSINT Source' },
  { 'id': 'osint_source_group', 'name': 'OSINT Source Group' },
  { 'id': 'product_type', 'name': 'Product Type' },
  { 'id': 'report_item_type', 'name': 'Report Type' },
  { 'id': 'word_list', 'name': 'Word List' }
] %}


{% set form_error = form_error | default({}) %}
{% set roles = roles | default([]) %}
<div class="bg-base-100 p-4">

  <form id="acl-form" class="w-3/4 ml-[10%]" {{ form_action }} hx-swap="innerHTML"  hx-target="#form-container" hx-target-error="#form-container">
    {% include "acl/acl_form_warning.html" %}
    {% if error %}
    <p class="text-3xl font-bold mb-4 error-msg">{{ error }}</p>
    {% endif %}

    {{ form_input('Name', 'name', acl.name, form_error.name) }}
    {{ form_input('Description', 'description', acl.description, form_error.description) }}

    <div class="join gap-1 w-3/4">
      {{ form_select(label='Item Type', name='item_type', value=acl.item_type, options=item_types) }}
      {{ form_input_content('Item ID', 'item_id', acl.item_id, form_error.item_id) }}
    </div>

    <div class="w-3/4">
    {{ datatable('roles-table', roles, columns, acl.roles, selectable=true, input_name="roles[]") }}
    </div>
    <input type="submit" class="btn btn-primary w-3/4" value="{{ submit_text }}" />
  </form>
</div>
