{% extends 'base.html' %}
{% block head %}
  <script src="{{ url_for('static', filename='js/fuse.js') }}"></script>
{% endblock %}
{% block content %}
{% set show_form = role_id is defined %}
<div class="p-8" id="acls">
  <div class="text-3xl font-bold mb-4">
    <a href="{{ url_for('admin.acls') }}" class="text-blue-500 hover:underline">ACL Settings</a>
  </div>
  <div class="bg-white rounded-sm p-4" id="form-container" >
    {% if show_form %}
      {% include 'acl/acl_form.html' %}
    {% else %}
      {% include 'acl/acl_table_header.html' %}
      {% include 'acl/acl_table.html' %}
    {% endif %}
  </div>
</div>
{% endblock %}
