{% from "macros/forms.html" import form_input, form_textarea, form_fileinput, form_select %}
{% from "macros/datatable.html" import datatable %}

{% set osint_id = osint_source.id | default("0", true) %}
{% set form_error = form_error | default({}) %}
<div class="bg-base-100 p-4">
  <h1 class="text-3xl font-bold mb-5 w-3/4 ml-[10%]">{{ submit_text }}</h1>
  <p class="text-base-content/60 text-[0.7rem] mb-5 w-1/2 ml-[10%]">ID: {{ osint_id }}</p>

  <form id="{{ model_name }}-form" class="w-1/2 ml-[10%]" {{ form_action }} hx-swap="innerHTML"  hx-target="#form-container" hx-target-error="#form-container">
    {% if error %}
    <p class="text-3xl font-bold mb-4 error-msg">{{ error }}</p>
    {% endif %}

    {{ form_input('Name', 'name', osint_source.name, form_error.name) }}
    {{ form_textarea('Description', 'description', osint_source.description, form_error.description, required=False) }}
    {{ form_fileinput('Icon', 'icon', osint_source.icon, type='file', required=False) }}

    <label class="select w-full mb-5">
      <span class="label">Collector Type</span>
      <select id="collector_type"
              name="collector_type"
              required
              class="validator select w-full"
              hx-get="{{ url_for('admin.osint_source_parameters', osint_source_id=osint_id) }}"
              hx-trigger="change"
              hx-include="#collector_type"
              hx-target="#parameters"
              hx-swap="innerHTML">
      {% if not osint_source.collector_type %}
      <option value="" selected disabled>Select a collector type</option>
      {% endif %}
      {% for option in collector_types -%}
      <option value="{{ option.id }}" {% if option.id == osint_source.collector_type %}selected{% endif %}>{{ option.name }}</option>
      {% endfor -%}
      </select>
    </label>
    <div id="parameters">{% include "osint_source/osint_source_parameters.html" %}</div>

    <input type="submit" class="btn btn-primary w-full" value="{{ submit_text }}" />
  </form>
</div>
