<section id="notification-bar" x-data="{ show: true }" x-init="setTimeout(() => show = false, 10000)" hx-swap-oob="{{ oob | default('false') }}">
  {% if notification or error %}
  {% set notification = notification or {} %}
  {% set message = notification.get('message', notification.get('error', error)) %}
  {% set icon = "exclamation-triangle" if error else notification.get('icon', "information-circle") %}
  {% set class = "alert-error" if error else notification.get('class', "alert-info") %}
    <div x-show="show" x-transition class="toast toast-center toast-bottom w-1/2 z-50">
      <div class="alert flex flex-col w-full gap-2 {{ class }}" role="alert">
        <div class="flex items-center gap-2">
          {{ heroicon_outline(icon) }}
          <span>{{ message }}</span>
        </div>
        <div class="w-full h-2 bg-black/20 rounded overflow-hidden">
          <div class="h-full bg-black animate-shrink-10"></div>
        </div>
      </div>
    </div>
  {% endif %}
</section>
