#app .user-settings-dialog .v-tabs .v-window.v-tabs-items {
    background-color: transparent !important;
}

#app .user-settings-dialog [role="tablist"] {
    top: 0;
}

.total-count-text {
    font-size: 13px;
}

.wordlist {
    background-color: yellow;
    font-weight: bold;
}

#app.theme--dark .wordlist {
    color: black;
    font-weight: bold;
}

#app.hide-wordlist span.wordlist {
    font-weight: unset;
    background: none;
}

thead tr th.text-left {
    min-width: 300px;
}

div.v-data-table>header {
    z-index: 1;
    top: 50px;
    box-shadow: 0 1px 0 gray;
}

[role='tablist'][data-booted='true'] {
    top: 0;
}

/* --- DashboardView.vue --- */
.v-sheet--offset {
    top: -8px;
    position: relative;
}

.wordCloud {
    height: 200px;
}

.v-card .v-btn.next {
    position: absolute;
    right: 16px;
}

.v-card .chips {
    position: relative;
    text-align: right;
    right: 12px;
}

/* --- EnterView.vue --- */
.nri {
    display: none;
}

.v-chip-group .v-chip.filter {
    height: 20px;
    margin-top: 5px;
}

/* --- MainMenu.vue --- */
.app-header .v-toolbar__content {
    padding-right: 0;
}

header.app-header.border {
    border-bottom: 1px solid #b6b6b6 !important;
}

header.app-header.border.dark {
    border-bottom: 1px solid #484848 !important;
}

svg.logo {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}

.logo {
    --color-1: black;
    --color-2: white;
    --color-3: #4092dd;
    margin-top: 0.3em;
}

.logo.dark {
    --color-1: white;
    --color-2: black;
}

.app-header img.drw-btn {
    height: 18px;
}
