/* common.css */
.v-chip-group .v-slide-group__content {
    padding: 0 !important;
}

.view,
.view .row {
    padding: 0;
    margin: 0;
}

.view .view-panel {
    position: sticky;
    top: 48px;
    z-index: 2;
}

.container {
    max-width: calc(100%) !important;
}

.card .status.in_progress,
.card .status.new,
.card .status.status-orange {
    border-left: 4px solid #ffd556;
}

.card .status,
.card .status.completed,
.card .status.read,
.card .status.status-green {
    border-left: 4px solid #33DD40;
}

.card .status.alert,
.card .status.important,
.card .status.status-red {
    border-left: 4px solid red;
}

.v-expansion-panel > .v-expansion-panel-header,
.v-expansion-panel--active > .v-expansion-panel-header {
    min-height: 32px;
}

.v-expansion-panels.groups,
.v-expansion-panels.items .v-expansion-panel:hover,
.v-expansion-panels.items .v-expansion-panel--active{
    border-left: 3px solid #4092dd;
}

.v-expansion-panels.items .v-expansion-panel {
    border-left: 3px solid #6abef2;
}

.valueHolder:hover {
    background-color: #f8f8f8;
    box-shadow: -3px 0 0 #6abef2;
}