{% from "macros/forms.html" import form_input, form_select %}
{% from "macros/datatable.html" import datatable with context %}
{% set create = request.path[-1:] == '0' | default('true') %}
{% set form_title = 'Role' %}

{% set role = role
    | default({
        'id': '',
        'name': '',
        'description': '',
        'permissions': []
    })
%}

{% set tlp_levels = [
  {'id': 'clear', 'name': 'Clear'},
  {'id': 'green', 'name': 'Green'},
  {'id': 'amber', 'name': 'Amber'},
  {'id': 'amber+strict', 'name': 'Amber+Strict'},
  {'id': 'red', 'name': 'Red'}
] %}

{% set form_error = form_error | default({}) %}
{% set permissions = permissions | default([]) %}
<div class="bg-base-100 rounded-sm p-4">
    <h1 class="text-3xl font-bold mb-5 w-1/2 ml-[10%]">{% if create %}Create{% else %}Edit{% endif %} {{ form_title }}</h1>

    <form id="role-form" class="w-1/2 ml-[10%]" {% if create %}hx-post="/frontend/roles"{% else %} hx-put="/frontend/roles/{{ role.id }}" {% endif %} hx-swap="innerHTML"  hx-target="#form-container" hx-target-error="#form-container">
        {% if error %}
        <p class="text-3xl font-bold mb-4 error-msg">{{ error }}</p>
        {% endif %}


        {{ form_input('Name', 'name', role.name, form_error.name) }}
        {{ form_input('Description', 'description', role.description, form_error.description) }}

        {{ form_select('TLP Level', 'tlp_level', role.tlp_level, tlp_levels) }}

        <label class="floating-label mb-5 w-4/5">
          <span>Permissions</span>
          {% set columns = [
            {'title': 'name', 'field': 'name', 'sortable': True, 'renderer': None},
            {'title': 'description', 'field': 'description', 'sortable': False, 'renderer': None}
          ] %}
          {{ datatable('permissions-table', permissions, columns, none, role.permissions, selectable=true, input_name="permissions") }}
        </label>

        <input type="submit" class="btn btn-primary w-1/2" value="{% if create %}Create{% else %}Update{% endif %} {{ form_title }}" />
    </form>
</div>
