{% from "macros/forms.html" import form_input %}
{% from "macros/datatable.html" import datatable %}
{% from "macros/variables.html" import tlp_levels %}

{% set columns = [
  {'title': 'name', 'field': 'name', 'sortable': True, 'searchable': True, 'renderer': None},
  {'title': 'description', 'field': 'description', 'sortable': False, 'searchable': False, 'renderer': None}
] %}

{% set form_error = form_error | default({}) %}
{% set permissions = permissions | default([]) %}
<div class="bg-base-100 p-4">
  <h1 class="text-3xl font-bold mb-5 w-3/4 ml-[10%]">{{ submit_text }}</h1>
  <form id="role-form" class="w-3/4 ml-[10%]" {{ form_action }} hx-swap="innerHTML"  hx-target="#form-container" hx-target-error="#form-container">
    {% if error %}
    <p class="text-3xl font-bold mb-4 error-msg">{{ error }}</p>
    {% endif %}

    {{ form_input('Name', 'name', role.name, form_error.name) }}
    {{ form_input('Description', 'description', role.description, form_error.description) }}
    {{ tlp_levels(role.tlp_level) }}

    {{ datatable('Permissions', permissions, columns, role.permissions, selectable=true, input_name="permissions[]") }}

    <input type="submit" class="btn btn-primary w-1/2" value="{{ submit_text }}" />
  </form>
</div>
