{% from "macros/buttons.html" import export_button with context %}
{% from "macros/table.html" import table_search_bar with context %}
<div class="flex gap-4">
  <div class="grow-0">
      <button hx-get={{ url_for('admin.edit_user', user_id=0) }} hx-swap="innerHTML" hx-target="#user-form-container" class="btn btn-primary">
      New User
      </button>
  </div>
  {{ table_search_bar('users-table') }}
  <div class="grow-0">
      <div class="join gap-1">
      <button hx-get={{ url_for('admin.import_users') }} hx-swap="innerHTML" hx-target="#user-form-container" class="btn btn-outline btn-accent">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>
          Import
      </button>
      {{ export_button(url_for('admin.export_users')) }}
      </div>
  </div>
</div>
