
{% from "macros/table.html" import table_header with context %}
{% from "macros/buttons.html" import export_button with context %}
{% set user_ids = users | map(attribute='id') | list | tojson %}
{% set table_id = 'users-table' %}

<div class="flex gap-4">
  <div class="grow-0">
    <button hx-get={{ url_for('admin.edit_user', user_id=0) }} hx-swap="innerHTML" hx-target="#user-form-container" class="btn btn-primary">
      New User
    </button>
  </div>
  {% include 'partials/table_search_bar.html' %}
  <div class="grow-0">
    <div class="join gap-1">
      <button hx-get={{ url_for('admin.import_users') }} hx-swap="innerHTML" hx-target="#user-form-container" class="btn btn-outline btn-accent">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>
          Import
      </button>
      {{ export_button(url_for('admin.export_users')) }}
    </div>
  </div>
</div>

<table class="table" id="{{ table_id }}" x-data="{ selectedusers: [] }">
    <thead>
        <tr>
            <th>
              <input
                type="checkbox"
                class="checkbox"
                :checked="selectedusers.length === {{ user_ids }}.length"
                @change="selectedusers = selectedusers.length === {{ user_ids }}.length ? [] : {{ user_ids }}"
              />
            </th>
          {{ table_header('username', True) }}
          {{ table_header('name', True) }}
          {{ table_header('roles', False) }}
          {{ table_header('permissions', False) }}
          <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody >
        {% for user in users %}
        <tr>
            <td>
                <input type="checkbox" class="checkbox checkbox-sm"
                    value="{{ user.id }}" name="cb[]"
                    x-model="selectedusers" />
            </td>
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.roles|length }}</td>
            <td>{{ user.permissions|length }}</td>
            <td class="text-right" hx-target="closest tr" hx-swap="outerHTML" hx-confirm="Are you sure?">
                <button href="/frontend/users/{{ user.id }}" hx-get="/frontend/users/{{ user.id }}" class="btn btn-primary" hx-swap="innerHTML" hx-confirm="unset" hx-target="#user-form-container">
                    Edit
                </button>
                <button class="btn btn-danger"  hx-delete="/frontend/users/{{ user.id }}" hx-disabled-elt="this">Delete</button>
            </td>
        </tr>
        {% endfor %}

    </tbody>
    <tfoot hx-target="#{{ table_id }}" hx-swap="outerHTML">
    <tr>
        <td colspan="6">
            <div class="flex justify-center">
                {% with data=users %}
                    {% include 'partials/datatable_controls.html' %}
                {% endwith %}
            </div>
        </td>
    </tr>
    </tfoot>
</table>
