<Virtualhost *:80>
    ServerName {{ taranisng_hostname_api }}

    ErrorLog {{ taranisng_errorlog_api }}
    CustomLog {{ taranisng_accesslog_api }} combined

    WSGIDaemonProcess taranisng user=www-data group=www-data threads=25 home={{ taranisng_root }}/taranis-ng-core/
    WSGIProcessGroup taranisng
    WSGIScriptAlias / {{ taranisng_root }}/taranis-ng-core/run.wsgi
    WSGIPassAuthorization On

    <Directory {{ taranisng_root }}/taranis-ng-core/>
        AllowOverride All
        Options Indexes FollowSymLinks SymLinksIfOwnerMatch
        Require all granted
    </Directory>

</Virtualhost>

