#! /bin/bash

cd /opt/taranisng

# COLLECTORS on http://127.0.0.1:5001/
screen -ls taranis-ng-collectors || (
	cd taranis-ng-collectors
	export FLASK_RUN_PORT=5001
	export TARANIS_NG_CORE_URL="http://{{ taranisng_hostname_api }}"
	export API_KEY=12345
	screen -S taranis-ng-collectors -dm python3 ./run.py
)

# PRESENTERS on http://127.0.0.1:5002/
screen -ls taranis-ng-presenters || (
	cd taranis-ng-presenters
	export FLASK_RUN_PORT=5002
	export TARANIS_NG_CORE_URL="http://{{ taranisng_hostname_api }}"
	export API_KEY=12345
	screen -S taranis-ng-presenters -dm python3 ./run.py
)

# PUBLISHERS on http://127.0.0.1:5003/
screen -ls taranis-ng-publishers || (
	cd taranis-ng-publishers
	export FLASK_RUN_PORT=5003
	export TARANIS_NG_CORE_URL="http://{{ taranisng_hostname_api }}"
	export API_KEY=12345
	screen -S taranis-ng-publishers -dm python3 ./run.py
)

