{% from "macros/forms.html" import form_input, form_textarea, form_fileinput, form_select %}
{% from "macros/worker.html" import worker_status %}
{% set connector_id = connector.id | default("0", true) %}
{% set form_error = form_error | default({}) %}

<div class="bg-base-100 p-4">
  <div class="join gap-4 mb-5 w-3/4 ml-[10%]">
    <h1 class="text-3xl font-bold">{{ submit_text }}</h1>
  </div>

  <p class="text-base-content/60 text-[0.7rem] mb-5 w-1/2 ml-[10%]">ID: {{ connector_id }}</p>
  {% if connector.status %}
    <div class="mb-5 w-1/2 ml-[10%]">{{ worker_status(connector.status) }}</div>
  {% endif %}

  <form id="{{ model_name }}-form"
        class="w-1/2 ml-[10%]"
        {{ form_action }}
        hx-swap="innerHTML"
        hx-target="#form-container"
        hx-target-error="#form-container">
    {% include "partials/admin_form_error.html" %}
    {{ form_input('Name', 'name', connector.name, form_error.name) }}
    {{ form_textarea('Description', 'description', connector.description, form_error.description, required=False) }}
    {{ form_fileinput('Icon', 'icon', connector.icon, type='file', required=False) }}

    <label class="select w-full mb-5">
      <span class="label">Connector Type</span>
      <select id="connector_type"
              name="type"
              required
              class="validator select w-full"
              hx-get="{{ url_for('admin.connector_parameters', connector_id=connector_id) }}"
              hx-trigger="change"
              hx-include="#connector_type"
              hx-target="#parameters"
              hx-swap="innerHTML"
              {% if connector.type %}disabled{% endif %}>
        {% if not connector.type %}<option value="" selected disabled>Select a connector type</option>{% endif %}
        {% for option in connector_types -%}
          <option value="{{ option.id }}" {% if option.id == connector.type %}selected{% endif %}>{{ option.name }}</option>
        {% endfor -%}
      </select>
      {% if connector.type %}<input type="hidden" name="type" value="{{ connector.type }}">{% endif %}
    </label>

    <div id="parameters">{% include "partials/worker_parameters.html" %}</div>

    <input type="submit" class="btn btn-primary w-full" value="{{ submit_text }}" />
  </form>
</div>
