{% macro export_button(export_url) %}
  <a
    class="btn btn-outline btn-info"
    href="{{ export_url }}"
    download
  >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
    </svg>
    Export
  </a>
{% endmacro %}


{% macro import_button(import_url) %}
<form hx-post="{{ uimport_url }}" hx-encoding="multipart/form-data" hx-trigger="input">
  <label class="btn btn-accent join-item cursor-pointer btn-outline col-start-3">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
    </svg>
    Import
  </label>
</form>
{% endmacro %}
