{% macro export_button(export_url) %}
  <a
    class="btn btn-outline btn-info"
    href="{{ export_url }}"
    download
  >
    {{ heroicon_outline("document-arrow-down", class="h-5 w-5") }}
    Export
  </a>
{% endmacro %}


{% macro import_button(import_url) %}
<form hx-post="{{ import_url }}" hx-encoding="multipart/form-data" hx-trigger="input">
  <label class="btn btn-accent join-item cursor-pointer btn-outline col-start-3">
    {{ heroicon_outline("document-arrow-up", class="h-5 w-5") }}
    Import
  </label>
</form>
{% endmacro %}

{% macro action_button(action) %}
        <button class="btn {{ action.class }}"
                hx-{{ action.method }}="{{ action.url }}"
                hx-push-url="true"
                {% if action.hx_target %} hx-target="{{ action.hx_target }}" {% endif %}
                {% if action.hx_swap %} hx-swap="{{ action.hx_swap }}" {% endif %}
                {% if action.confirm %} hx-confirm="{{ action.confirm }}" {% endif %}>
            {{ action.label }}
        </button>
{% endmacro %}
