{% macro form_input(label, name, value, error, type='text', input_id=None, placeholder=None, required=True) %}
  <div class="mb-5 w-3/5 flex flex-row">
    <label class="floating-label w-3/5 flex-none">
      <span>{{ label }}</span>
      <input
        {% if input_id %} id="{{ input_id }}" {% else %} id="{{ name }}" {% endif %}
        type="{{ type }}"
        placeholder="{{ placeholder if placeholder is not none else label }}"
        class="input w-full validator {% if error %}input-error{% endif %}"
        name="{{ name }}"
        {% if required %} required {% endif %}
        value="{{ value }}"
      />
    </label>
    {% if error %}
      <div role="alert" class="alert alert-error alert-soft w-2/5 flex-initial">{{ error }}</div>
    {% endif %}
  </div>
{% endmacro %}