{% macro table_header(title, sortable) %}
{% if sortable %}
<th>
    <a href="#"
       hx-get="?order={{ title }}_{{ 'asc' if request.args.get('order') != title ~ '_asc' else 'desc' }}&page={{ request.args.get('page', 1) }}"
       hx-target="#users-table"
       hx-push-url="true">
        {{ title|capitalize }}
        {% if request.args.get('order', '').startswith(title) %}
            {% if request.args.get('order').endswith('_asc') %}▲{% else %}▼{% endif %}
        {% endif %}
    </a>
</th>
{% else %}
  <th>{{ title|capitalize }}</th>
{% endif %}
{% endmacro %}