{% macro table(table_id, data, columns, actions, selected_items=[], selectable=true, input_name="selected_items") %}
{% from "macros/table.html" import table_header with context %}
{% from "macros/buttons.html" import action_button with context %}
{% set item_ids = data | map(attribute='id') | list %}

<table class="table" id="{{ table_id }}" x-data="{ selectedItems: [] }">
    <thead>
        <tr>
            {% if selectable %}
            <th>
                <input type="checkbox"
                       class="checkbox"
                       :checked="selectedItems.length === {{ item_ids | length }}"
                       @change="selectedItems = selectedItems.length === {{ item_ids | length }} ? [] : {{ item_ids }}"
                />
            </th>
            {% endif %}

            {% for col in columns %}
                {{ table_header(col.title, col.sortable) }}
            {% endfor %}

            {% if actions %}
                <th class="text-right">Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            {% if selectable %}
            <td>
                <input type="checkbox" class="checkbox checkbox-sm" value="{{ item.id }}" name="{{ input_name }}[]" x-model="selectedItems" />
            </td>
            {% endif %}

            {% for col in columns %}
                <td>
                    {% if col.renderer %}
                        {{ col.renderer(item) }}
                    {% else %}
                        {{ item[col.field] }}
                    {% endif %}
                </td>
            {% endfor %}

            {% if actions %}
            <td class="text-right" hx-target="closest tr" hx-swap="outerHTML">
              {% if actions is string %}
                {% from "macros/table.html" import default_table_actions %}
                {% set ns = namespace(actions=[]) %}
                {{ default_table_actions(ns, actions) }}
                {% set actions = ns.actions %}
              {% endif %}
              {% for action in actions %}
              {{ action_button(action.update({'url': action.url ~ '/' ~ item.id}) or action) }}
              {% endfor %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot hx-target="#{{ table_id }}" hx-swap="outerHTML">
        <tr>
            <td colspan="{{ (columns|length + (1 if selectable else 0) + (1 if actions else 0)) }}">
                <div class="flex justify-center">
                    {% include 'partials/datatable_controls.html' %}
                </div>
            </td>
        </tr>
    </tfoot>
</table>
{% endmacro %}

{% macro default_table_actions(ns, base_url) %}
    {% set ns.actions = [
        {
            'label': 'Edit',
            'class': 'btn-primary',
            'method': 'get',
            'url': base_url,
            'hx_target': '#form-container',
            'hx_swap': 'innerHTML',
            'confirm': None
        },
        {
            'label': 'Delete',
            'class': 'btn-danger',
            'method': 'delete',
            'url': base_url,
            'hx_target': None,
            'hx_swap': None,
            'confirm': 'Are you sure?'
        }
    ] %}
{% endmacro %}

{% macro table_header(title, sortable) %}
{% from "macros/query_params.html" import update_query_params with context %}
{% set order_direction = 'asc' if request.args.get('order') != title ~ '_asc' else 'desc' %}
{% set order = title ~ '_' ~ order_direction %}
{% set order_params = {'order': order, 'page': 1} %}
{% set order_url = update_query_params(order_params) %}
{% if sortable %}
<th>
  <a  href="{{ order_url }}"
      hx-get="{{ order_url }}"
      hx-target="closest table"
      hx-push-url="true"
      class="link link-hover">
      {{ title|capitalize }}
      {% if request.args.get('order', '').startswith(title) %}
        {% if request.args.get('order').endswith('_asc') %}▲{% else %}▼{% endif %}
      {% endif %}
  </a>
</th>
{% else %}
  <th>{{ title|capitalize }}</th>
{% endif %}
{% endmacro %}

{% macro table_search_bar(table_id) %}
<div class="grow">
  <form
    hx-get="{{ request.path }}"
    hx-push-url="true"
    hx-target="#{{ table_id }}"
    hx-trigger="input delay:500ms"
  >
    <input
      type="search"
      name="search"
      class="input w-full"
      placeholder="Search..."
    />
  </form>
</div>
{% endmacro %}
