// Global
.v-application {
  background-color: #f3f3f3 !important;
}

a {
  text-decoration: none !important;
}

textarea {
  font-size: 0.915rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4 !important;
}

.edit-summary textarea {
  min-height: calc(1.4 * 0.915rem * 8 + 2px) !important;
}

.v-application .v-card.elevation-4 {
  -webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.15) !important;
}

.v-list--dense .v-list-item {
  min-height: 20px;
}

.v-list--dense .v-list-item .v-list-item__title {
  font-weight: 400 !important;
  color: $dark-grey;
}

.v-btn {
  letter-spacing: normal;
}

// Menu

.main-menu-bar {
  height: $app-bar-height;
  z-index: 100 !important;
}

.v-btn span.main-menu-item {
  font-weight: 400;
  letter-spacing: normal;
}

.v-btn.v-btn--active span.main-menu-item {
  color: $primary;
  font-weight: 500;
}

.main-menu-bar .v-toolbar__content {
  justify-content: end;
  padding-right: 0px;
  padding-left: 0px;
}

.main-logo {
  display: flex;
  background-color: #d6d6d6;
  width: calc(300px - #{$app-bar-height});
  height: $app-bar-height;
  justify-content: center;
  align-content: center;

  & svg {
    align-self: center;
    fill: white;
  }
}

.v-application .v-btn.burger-menu {
  min-width: $app-bar-height !important;
  width: $app-bar-height !important;
  height: $app-bar-height !important;
  display: block;
}

.v-icon.v-icon.closed {
  transform: scaleX(-1);
}

.selected .v-icon.v-icon.desc {
  transform: rotate(-180deg);
}

.v-list .v-icon.filter-icon {
  color: $light-grey-1 !important;

  & svg {
    fill: $light-grey-1 !important;
  }
}

.v-list .v-list-item--active.selected .v-icon.filter-icon {
  color: $primary !important;

  & svg {
    fill: $primary !important;
  }
}

.v-list--dense .v-list-item.extra-dense {
  min-height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.v-list--dense .v-list-item.extra-dense .v-list-item__icon,
.v-list-item--dense.extra-dense .v-list-item__icon {
  height: 24px;
  margin-top: 3px;
  margin-bottom: 0px;
}

.v-list--dense .v-list-item.extra-dense .v-list-item__action {
  margin: 0px 0px 0px 0px;
}

.filter-list .selected::before,
.filter-list .v-list-item::before {
  background: none;
}

.text-field-active fieldset {
  border: 2px solid $primary !important;
}

.v-select__selections {
  overflow-x: hidden;
  overflow-y: hidden;
  flex-wrap: nowrap !important;
}

.v-select--is-menu-active .v-select__selections {
  flex-wrap: wrap !important;
}

.v-select__selections .v-chip {
  overflow: initial;
  flex-shrink: 0;
  background-color: $light-grey-1;
}

// Story Cards

.story-title {
  line-height: 1.2;
}

.fab-pin {
  width: 28px !important;
  height: 28px !important;

  &.pinned {
    background-color: $primary;
    border-color: $primary;
    fill: white;
  }
}

.v-btn.btn-view-story {
  background-color: white;
  letter-spacing: normal;
  font-weight: 400;
  caret-color: $light-grey-2;
  border-color: $light-grey-2;
  color: $dark-grey !important;
  padding: 16px 12px !important;

  & svg {
    fill: $dark-grey;
  }
}

.buttonOutlined {
  text-transform: lowercase;
  background-color: white;
  letter-spacing: normal;
  font-weight: 400;
  caret-color: $light-grey-2;
  border-color: $light-grey-2;
  color: $dark-grey;
  padding: 16px 16px 16px 12px !important;
  transition: all 400ms ease;

  &.v-btn--disabled {
    background-color: lighten($light-grey-1, 20) !important;
    color: white !important;

    & span {
      color: white !important;
    }
  }

  & svg {
    fill: inherit;
  }

  &.red-button {
    caret-color: darken($awake-red-color, 10);
    border-color: darken($awake-red-color, 10);

    & svg {
      fill: darken($awake-red-color, 10);
    }
  }
}

.v-chip.story-label {
  font-size: 12px !important;
  padding: 12px 8px !important;
  max-width: 88px;
}

.v-application .v-card .activity-row {
  min-height: 54px;
  line-height: 1;
  padding-bottom: 12px;

  & .last-activity {
    font-size: 0.65rem !important;
    color: $dark-grey;
  }
}

.v-application .v-card h2.headline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  height: calc(2rem * 2);
}

.v-application .v-card p.story-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  height: calc(1.5em * 4);
}

// .v-application .v-card.pinned-story {
//   border: 3px solid $primary;
//   padding: 18px !important;
// }

.v-application .v-card {
  transition: all 0.4s;
  border: 3px solid white;
  background-color: white;
  padding: 8px 18px !important;
}

.v-application .v-card.selected {
  border: 3px solid $primary;
  background-color: $story-selected-bg;
  padding: 8px 18px !important;

  & .news-item-action-bar {
    background-color: lighten($primary, 28);

    & .news-item-action.v-size--default .v-icon svg {
      color: lighten($dark-grey, 30);
      fill: lighten($dark-grey, 30);
    }

    & .news-item-action.active.v-size--default .v-icon svg {
      fill: $primary;
    }
  }
}

.v-application .v-card--link:before {
  background: none;
}

.status-bar {
  position: absolute;
  height: 100%;
  width: 12px;
  top: 0px;
  left: 0px;
  display: block;
}

// Tags

.v-application .tag-mini {
  min-width: 0px !important;
  font-weight: 700 !important;
  color: white;

  &.ai {
    background-color: $accent !important;
  }

  &.shared {
    background-color: lighten($primary, 5) !important;

    & .v-icon {
      transform: scaleX(-1);
    }

    & svg {
      fill: white !important;
    }
  }
}

// Form fields

.v-application input,
.v-application input::placeholder,
.v-application .v-label {
  font-size: 0.915rem;
  font-weight: 400;
}

.v-application input::placeholder {
  color: $light-grey-2 !important;
}

.v-application .v-input__icon svg {
  fill: $dark-grey !important;
}

.v-application
  .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
  > .v-input__control
  > .v-input__slot
  fieldset {
  border-color: $light-grey-2;
}

.news-items-grid-container,
.stories-grid-container {
  position: relative;
}

.news-items-grid-container > div,
.stories-grid-container > div {
  min-width: 240px;
}

.news-items-grid-move,
.stories-grid-move {
  z-index: 10;
}

.news-items-grid-enter,
.stories-grid-enter,
.news-items-grid-enter-to,
.stories-grid-enter-to,
.news-items-grid-enter-active,
.stories-grid-enter-active {
  z-index: 20;
}

.news-items-grid-leave,
.stories-grid-leave,
.news-items-grid-leave-to,
.stories-grid-leave-to,
.news-items-grid-leave-active,
.stories-grid-leave-active {
  z-index: 0;
}

.news-items-grid-move,
.stories-grid-move {
  transition: all 0.4s ease;
}

.news-items-grid-enter,
.stories-grid-enter {
  opacity: 0;
}

.news-items-grid-enter-to,
.stories-grid-enter-to {
  opacity: 1;
}

.news-items-grid-enter-active,
.stories-grid-enter-active {
  transition: all 0.4s ease;
}

.news-items-grid-leave,
.stories-grid-leave {
  opacity: 1;
}

.news-items-grid-leave-to,
.stories-grid-leave-to {
  opacity: 0;
}

.news-items-grid-leave-active,
.stories-grid-leave-active {
  transition: all 0.4s ease;
  position: absolute;
  z-index: 0;
}

.empty-list-transition-enter-active,
.empty-list-transition-leave-active {
  transition: opacity 0.4s ease;
}

.empty-list-transition-enter-from,
.empty-list-transition-leave-to {
  opacity: 0;
}

.empty-list-notification {
  // background-color: $cx-app-header;
  border-radius: 3px;
  text-align: center;
  padding: 60px;
  color: lighten($dark-grey, 30);

  & .v-icon {
    color: lighten($dark-grey, 30);
    display: block;
    padding: 14px;

    & svg {
      fill: lighten($dark-grey, 30);
    }
  }
}

.date-filter-group,
.date-filter-group .v-slide-group__wrapper,
.date-filter-group .v-slide-group__content {
  width: 100%;
}

.date-filter-group .v-slide-group__content {
  justify-content: space-between;
  column-gap: 7px;
}

.v-application .sidebar .filter-btn,
.date-filter-group .v-slide-group__content .v-chip,
.tags-logic-operator .v-btn {
  min-width: 10px !important;
  letter-spacing: normal;
  font-weight: 400;
  caret-color: $light-grey-2;
  border-color: $light-grey-2;
  color: $dark-grey !important;
  flex-grow: 1 !important;
  padding: 19px 10px;
  margin: 0;
  justify-content: center;

  &.clicked,
  &.selected,
  &.v-chip--outlined.selected {
    background-color: $primary !important;
    border-color: $primary;
    fill: white;

    & span {
      color: white;
    }
  }
}

.tags-logic-operator .v-btn.v-btn--outlined {
  height: 100%;
  font-size: 14px;
}

// Datepicker
.v-menu__content.theme--light.v-menu__content--fixed.menuable__content__active,
.v-picker__body.v-picker__body--no-title.theme--light {
  & .v-btn--rounded {
    border-radius: 2px;
    display: block;
    width: 100%;
  }

  & .v-picker__actions .v-btn__content {
    letter-spacing: normal;
  }
}

.v-application .v-label {
  color: $dark-grey !important;
  font-size: 14px;
}

.v-list--dense .v-list-item .v-list-item__title {
  font-size: 0.9rem;
}

.v-list--dense .v-list-item .v-list-item__action {
  margin: 6px 16px 4px 0;
}

.v-list--dense .v-list-item .v-list-item__action .v-icon {
  font-size: 18px;
}

.v-input--checkbox .v-icon {
  font-size: 18px;
  margin-left: -4px;
}

.news-item-title {
  // Clipping
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  height: calc(1.5em * 1);
}

.news-item-summary {
  color: $dark-grey;
  margin-bottom: 0px !important;
  font-weight: 300;
  font-size: 13px;

  // Clipping
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  height: calc(1.5em * 4);
}

.news-item-summary-no-clip {
  color: $dark-grey;
  margin-bottom: 0px !important;
  font-weight: 300;
  font-size: 13px;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  min-height: 6em;
}

.news-item-meta-infos.row {
  margin-top: 12px;
  min-height: 20px;

  & .col {
    padding-top: 2px;
    padding-bottom: 0px;
  }

  & > div {
    font-size: 0.78rem;
  }

  & .news-item-meta-infos-label {
    min-width: 100px;
    max-width: 100px;
  }

  & .news-item-meta-stories-list {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: calc(1.5em * 2);
  }

  a.meta-link {
    & .icon {
      color: $primary;
      text-decoration: none !important;
    }

    & .label {
      color: $primary;
      text-decoration: none !important;
      text-transform: lowercase;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      height: calc(1.5em * 1);
    }
  }
}

.v-application .v-card.news-item {
  padding: 0px 36px 0px 18px !important;
}

.news-item-action-bar {
  position: absolute;
  height: 100%;
  width: 36px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
}

.news-item-action-bar .v-btn--icon.v-size--default .v-icon,
.news-item-action-bar .v-btn--icon.v-size--default .v-icon svg {
  font-size: 18px;
  width: 36px;
  height: 36px;
  color: $light-grey-2;
  fill: $light-grey-2;
}

.news-item-action-bar .v-btn--icon.active .v-icon svg {
  fill: $primary;
}

.decorateSource {
  color: $awake-green-color;

  & svg {
    fill: $awake-green-color;
  }
}

.news-item-action-bar .v-btn--icon.news-item-story-action,
.news-item-action-bar .v-btn--icon.news-item-story-action .v-icon svg {
  background-color: $story-header-bg;
  fill: $dark-grey;
}

.news-item-action-bar .v-btn--icon.news-item-sharing-set-action,
.news-item-action-bar .v-btn--icon.news-item-sharing-set-action .v-icon svg {
  background-color: lighten($accent, 25);
  fill: $dark-grey;
}

.v-btn.story-header-btn,
.v-btn.news-item-btn {
  background-color: white;
  letter-spacing: normal;
  font-weight: 400;
  caret-color: $light-grey-2;
  border-color: $light-grey-2;
  color: $dark-grey !important;
  padding: 14px 12px !important;
  height: 32px;

  & svg {
    fill: $dark-grey;
  }
}

// .v-btn.story-header-btn {
//   caret-color: white;
//   border-color: white;
// }

// .status-unread.status-important,
// .status-important {
//   background-color: $status-important  !important;
// }

.status-important.status-error,
.status-unread.status-error,
.status-error {
  background-color: $status-error !important;
}

// .status-unread {
//   background-color: $status-unread;
// }

.status-hot {
  background-color: $status-important;
}

.justify-content-center {
  justify-content: center;
}

.selection-toolbar {
  z-index: 100 !important;

  & .v-toolbar__content {
    height: auto !important;
  }

  & .selection-indicator {
    font-size: 0.875rem;
  }
}

.selection-toolbar-btn {
  & svg {
    fill: white;
  }
}

.red-icon {
  & svg {
    fill: darken($awake-red-color, 10);
  }
}

.item-count {
  text-align: right;

  & span {
    font-size: 0.875rem;
    color: lighten($dark-grey, 30);
  }
}

.story-header-container {
  background-color: darken($story-header-bg, 5);
}

.sharingset-header-container {
  background-color: lighten($accent, 25);
}

.story-header-container,
.sharingset-header-container {
  width: 100%;

  & .card-alignment {
    padding-left: 20px !important;
    padding-right: 48px !important;
    margin-right: -20px;
  }

  & .card-padding {
    padding-right: 36px !important;
    padding-left: 18px !important;
  }

  & h1 {
    color: $dark-grey;
    font-weight: 700;
    line-height: 1.2;
  }

  & h3 {
    font-size: 16px;
    color: $dark-grey;
    font-weight: 700;
    line-height: 1.2;
    text-transform: none;
  }

  .story-summary {
    font-size: 13px;
    margin-bottom: 0px;
    color: $dark-grey;
  }

  & .story-header-meta-infos.row {
    margin-top: 0px;
    margin-bottom: 0px;

    & .col {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    & > div {
      font-size: 0.78rem;
    }

    & .story-header-meta-infos-label {
      min-width: 120px;
      max-width: 120px;
    }

    a.meta-link {
      & .icon {
        color: $primary;
        text-decoration: none !important;
      }

      & .label {
        color: $primary;
        text-decoration: none !important;
        text-transform: lowercase;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        height: calc(1.5em * 1);
      }
    }
  }
}

.v-btn.v-btn--icon.votes-btn::before {
  background: none !important;
}

.v-card.merge-story-details {
  height: 100%;
  width: 100%;
  min-width: 200px;
  border: 3px solid white;
  background-color: lighten($accent, 30);
  flex-grow: 0 !important;
  justify-content: flex-end !important;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.v-card.share-items-details {
  height: 100%;
  width: 100%;
  border: 3px solid white;
  background-color: lighten($accent, 30);
  padding: 0px 0px 0px 16px !important;

  &.restricted {
    background-color: lighten($awake-red-color, 25);
    // border: 3px solid $awake-red-color;
  }

  & .v-btn {
    margin: auto 0px !important;
  }
}

.merge-stories-details-title {
  font-family: $heading-font-family;
  color: $dark-grey;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
}

.merge-stories-details-meta {
  font-size: 0.75rem;
}

.news-item {
  position: relative;
  overflow: hidden;

  & h2.news-item-title {
    font-family: $heading-font-family;
    font-size: 1.4rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    height: calc(1.5em * 1);
    font-weight: 500;
    text-transform: capitalize;
  }

  & h2.news-item-title.status-unread {
    font-weight: 800 !important;

    & .new-indicator {
      color: $accent;
      vertical-align: sub;
      font-size: 70%;
    }
  }

  &.status-important:not(.selected) {
    background-color: #f3f1d2 !important;

    & .news-item-action-bar {
      background-color: #edeac1 !important;

      & .v-btn--icon.news-item-story-action svg {
        background-color: #e0dca4 !important;
      }

      & .news-item-action.v-size--default .v-icon {
        color: lighten($dark-grey, 30);

        & svg {
          fill: lighten($dark-grey, 30);
        }
      }

      & .news-item-action.active.v-size--default .v-icon {
        color: $primary;

        & svg {
          fill: $primary;
        }
      }
    }

    & .new-indicator {
      color: darken($story-header-bg, 30) !important;
    }
  }
}

.news-item.corner-tag-restricted,
.news-item.corner-tag-shared {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin: -44px;
    width: 78px;
    height: 78px;
    transform: rotate(45deg);
  }

  & .news-item-corner-tag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 6px;
    font-weight: 700;

    & .v-icon {
      color: white;
    }

    & svg {
      fill: white !important;
    }
  }
}

.news-item.corner-tag-restricted {
  &:after {
    background-color: $light-grey-2 !important;
  }
}

.news-item.corner-tag-shared {
  &:after {
    background-color: $accent !important;
  }
}

.story {
  position: relative;
  overflow: hidden;

  &.hot-story {
    background-color: lighten($story-header-bg, 5);
  }

  &.sharing-set-story,
  &.hot-story.sharing-set-story {
    background-color: lighten($accent, 30);
  }
}

.story.corner-tag-ai,
.story.corner-tag-shared {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin: -44px;
    width: 78px;
    height: 78px;
    transform: rotate(45deg);
    background-color: darken($story-hot, 20);
  }

  & .story-corner-tag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 6px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 11px;

    & svg {
      fill: white !important;
    }
  }
}

.story.corner-tag-shared {
  &:after {
    background-color: lighten($accent, 10) !important;
  }
}

.story.corner-tag-shared.sharing-set-story-outgoing,
.story.corner-tag-shared.sharing-set-story-shared.sharing-set-story-outgoing {
  background-color: lighten($accent, 30) !important;
}

.story.corner-tag-shared.sharing-set-story-shared {
  // background-color: lighten($awake-green-color, 35) !important;
  background-color: white !important;

  &:after {
    background-color: darken($accent, 10) !important;
    // background-color: lighten($awake-green-color, 10) !important;
  }
}

.flipped-icon {
  transform: scaleX(-1);
}

.icon-color-grey {
  color: $dark-grey;

  & svg {
    fill: $dark-grey;
  }
}

.calendar-heatmap {
  max-width: 740px;
}

.stories-chip {
  max-width: 120px;
}

.openapi {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none
}

.dropdown-list-item {
  font-size: 0.9rem;
  color: $dark-grey;
  padding-top: 4px;
  padding-bottom: 8px;
  text-transform: capitalize;
}

.v-btn.sharing-sumbit-btn.v-btn--has-bg {
  transition: all 400ms ease;

  &.v-btn--disabled {
    background-color: lighten($light-grey-1, 20) !important;
    color: white !important;

    & span {
      color: white !important;
    }
  }
}

.story-card-title {
  color: $dark-grey;
  text-transform: capitalize;
  font-weight: 700;
  font-family: $heading-font-family;
  line-height: 1.2;
  letter-spacing: normal;
  font-size: 1.5rem !important;

  // Clipping
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  height: calc(1.5rem * 1.2 * 2);
}

.story-card-summary {
  color: $dark-grey;
  font-family: $body-font-family;
  font-size: $font-size-root;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 0px !important;

  // Clipping
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  height: calc(1.5em * 4);
}

.popup-title {
  color: $dark-grey;
  text-transform: capitalize;
  font-weight: 700;
  font-family: $heading-font-family;
  line-height: 1.2;
  letter-spacing: normal;
  font-size: 1.5rem !important;
}

.nocaps {
  text-transform: unset !important;
}

.corner-close {
  position: absolute;
  right: -3px;
  top: -3px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
  border-right: 0;
  padding: 8px 3px 8px 3px !important;
  min-width: 42px !important;

  & .v-icon svg {
    height: 18px;
    width: 18px;
  }
}