$primary: #7468e8;
$secondary: #34a5e8;
$accent: #6daed9;
$info: #2196f3;
$error: #ba3b3b;
$success: #74b761;
$warning: #ffc107;
$cx-app-header: #c9c9c9;
$cx-toolbar-filter: #ffffff;
$cx-combo-gray: #f2f2f2;
$cx-user-menu: #d9d9d9;
$cx-drawer-bg: #ffffff;
$cx-drawer-text: #000000;
$cx-drawer-text-invert: #000;
$cx-line: #fafafa;
$cx-favorites: #ff9d48;
$cx-filter: #9f02ff;
$cx-wordlist: #ffc107;

$light-grey-1: #c9c9c9;
$light-grey-2: #c8c8c8;
$dark-grey: #575757;
$very-dark-grey: #313131;

$awake-green-color: #77bb70;
$awake-yellow-color: #e9c645;
$awake-red-color: #d18e8e;

html {
  background: #f3f3f3;
}

.item-action-btn.btn-group button,
button.item-action-btn,
a.item-action-btn {
  flex-grow: inherit;
  height: 36px !important;
  min-width: 34px;
  padding: 0 12px 0 8px;
  margin: 4px 4px 4px 0px;
  letter-spacing: normal;
  border-radius: 0;
  font-size: 0.85rem;
  text-transform: lowercase;
  font-weight: normal;

  &.expandable {
    padding: 0px 10px !important;
    min-width: 40px !important;
    flex-grow: unset;
    & .v-icon {
      font-size: 1.15rem;
    }
  }
}

.news-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: calc(1.5em * 2);
  line-height: 1.3;
}
.news-item-title-no-clip {
  max-height: calc(1.5em * 2);
  line-height: 1.3;
}

.action-bar {
  max-width: 45px !important;
  background-color: #f3f3f3;
  padding-left: 0px;
}

.meta-info-col {
  border-right: 1px solid #c0c0c0;
}

button.vertical-button .v-btn__append,
button.vertical-button .v-btn__append i {
  margin-left: auto;
  font-size: 100% !important;
}

.vertical-button-group {
  display: flex;
  flex-direction: column;
  height: 100% !important;
}

.vertical-button {
  justify-content: flex-start;
}

.vertical-button-group .v-icon,
.vertical-button .v-icon {
  margin-right: 0.6rem;
  color: rgb(var(--v-theme-primary)) !important;
  font-size: 1.3rem !important;
}
