@use 'vuetify/_settings' with (
  $typography: (
    'caption': (
      'letter-spacing': normal
    )
  ),
  $card-border-radius: 0,
  $card-hover-elevation: 4,
  $button-text-transform: none,
  $button-text-letter-spacing: normal,
  $button-font-size: 1rem,
  $icon-margin-end: 100px
);
