@use '~vuetify/src/styles/main' with (
  $body-font-family: (
    'Montserrat',
    sans-serif
  ),
  $heading-font-family: (
    'Rubik',
    sans-serif
  ),
  $border-radius-root: 6px,
  $font-size-root: 14px
);

@use '~vuetify/src/components/VBtn/VBtn.sass' with (
  $btn-letter-spacing: 0,
  $btn-font-weight: 400
);

@use '~vuetify/src/components/VList/VList.sass' with (
  $list-item-title-font-size: 0.929rem,
  $list-item-dense-title-font-size: 0.929rem,
  $list-item-dense-title-font-weight: initial
);

// @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
