{% macro form_input(label, name, value, error, type='text', input_id=None, placeholder=None, required=True, preserve=True) %}
{% from "macros/forms.html" import form_input_content %}
<div class="mb-5 w-full flex flex-row">
  {{ form_input_content(label, name, value, error, type, input_id, placeholder, required, preserve) }}
  {% if error -%}
  <div role="alert" class="alert alert-error alert-soft w-full flex-initial">{{ error }}</div>
  {% endif -%}
</div>
{% endmacro %}

{% macro form_select(label, name, value, options=[], input_id=None, required=True, width='w-full') %}
<label class="select mb-5 {{ width }}">
  <span class="label">{{ label }}</span>
  <select id="{% if input_id %}{{ input_id }}{% else %}{{ name }}{% endif %}" name="{{ name }}" {% if required %} required {% endif %} class="validator select w-full">
    {% if not value %}
    <option value="" selected disabled>Select an item type</option>
    {% endif %}
    {% for option in options -%}
    <option value="{{ option.id }}" {% if option.id == value %}selected{% endif %}>{{ option.name }}</option>
    {% endfor -%}
  </select>
</label>
{% endmacro %}

{% macro form_input_content(label, name, value, error, type='text', input_id=None, placeholder=None, required=True, preserve=True, width='w-full') %}
<label class="floating-label {{ width }}">
  <span class="label">{{ label }}</span>
  <input id="{% if input_id %}{{ input_id }}{% else %}{{ name }}{% endif %}" type="{{ type }}" placeholder="{{ placeholder if placeholder is not none else label }}"
    class="input w-full validator {% if error %}input-error{% endif %}" name="{{ name }}" {% if required %}required{% endif %} value="{{ value }}"
    {% if preserve %}hx-preserve{% endif %}
  />
</label>
{% endmacro %}


{% macro form_textarea(label, name, value, error, type='text', input_id=None, placeholder=None, required=True, preserve=True, width='w-full') %}
<label class="floating-label mb-5 {{ width }}">
  <span class="label">{{ label }}</span>
  <textarea class="textarea w-full" type="{{ type }}" placeholder="{{ placeholder if placeholder is not none else label }}"
    class="input w-full validator {% if error %}input-error{% endif %}" name="{{ name }}" {% if required %}required{% endif %} value="{{ value }}"
    {% if preserve %}hx-preserve{% endif %}></textarea>
</label>
{% endmacro %}

{% macro form_fileinput(label, name, value, type='file', input_id=None, placeholder=None, required=True, preserve=True, width='w-full') %}
<label class="floating-label mb-5 {{ width }}">
  <span class="label">{{ label }}</span>
  <input id="{% if input_id %}{{ input_id }}{% else %}{{ name }}{% endif %}" type="{{ type }}" placeholder="{{ placeholder if placeholder is not none else label }}"
    class="input w-full validator file-input" name="{{ name }}" {% if required %}required{% endif %} value="{{ value }}"
    {% if preserve %}hx-preserve{% endif %}
  />
</label>
{% endmacro %}

{% macro form_switch(label, name, value, required=True, preserve=True, width='w-full') %}
<fieldset class="fieldset bg-base-100 border-base-300 rounded-box border mb-5 {{ width }}">
  <legend class="fieldset-legend">{{ label }}</legend>
  <label class="label">
    <input type="checkbox" checked="checked" class="toggle toggle-primary" name="{{ name }}" id="{{ name }}" {% if required %}required{% endif %} {% if value %}checked{% endif %}/>
    {{ name }}
  </label>
</fieldset>
{% endmacro %}
