/*HEADER*/
.sw_title {
    font-size: 20px;
    font-weight: 700
}
.sw_number {
    text-align: right;
    font-size: 12px
}
.w20 {
    width: 20%
}

/*BODY*/
 .header_info {
     font-size: 12px
 }
.w15 {
    width: 15%
}
.cvss {
    color: red;
    font-weight: 700
}
.th_data {
    background-color: #BFD5ED;
    font-size: 12px;
    font-weight: 700
}
.text_in_tab {
    font-size: 14px
}
input[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}
input {
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    outline: 0;
    background-color: transparent
}
.checkbox-button__input {
    opacity: 0;
    position: absolute
}
.checkbox-button__control {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
    background-color: inherit;
    border: 1px solid gray
}
.checkbox-button__input:checked+.checkbox-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: black
}
.checkbox-button__input:checked+.checkbox-button__control {
    border-color: gray
}
.checkbox-button__control {
    transform: scale(0.75)
}

/*FOOTER*/
.footer_text {
    font-size: 14px
}
.footer_color {
    background-color: lightgray
}
.text_bold {
    font-weight: 700
}
.w30 {
    width: 30%
}
