{% from "assess/sidebar/filter_token_select.html" import filter_token_select %}

{% set ns = namespace(selected_items=[]) %}
{% for tag in selected_tags %}
  {% set ns.selected_items = ns.selected_items + [{"value": tag, "label": tag, "name": "tags"}] %}
{% endfor %}

{# djlint:off #}
{{ filter_token_select(
  id="tag-filter",
  placeholder="Search tags",
  selected_items=ns.selected_items,
  input_name="tags",
  icon="tag",
  suggestions_url=url_for("assess.get_tags"),
  selected_container_id="selected-tags",
  no_results_text="No tags found.",
  show_all_on_focus=false
) }}
{# djlint:on #}
