<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/app/taranis-ng-presenters/templates/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/app/taranis-ng-presenters/templates/css/custom.css">
</head>
<body>

    <div>
        <br>
        <table class="table table-borderless">
            <tr class="footer_text footer_color">
                <td class="w30 py-0 text_bold">Created by Taranis NG</td>
                <td class="w40 py-0 text-center info">Repo: <a href="https://github.com/SK-CERT/Taranis-NG/">github.com/SK-CERT/Taranis-NG</a></td>
sk-cert@nbu.gov.sk</td>
                <td class="w30 py-0 text-right text_bold">Company name</td>
            </tr>
            <tr class="footer_text">
                <td class="w30 py-0">OSINT analysis tool</td>
                <td class="w40 py-0 text-center info">E-mail: sk-cert@nbu.gov.sk</td>
                <td class="w30 py-0 text-right">Company address</td>
            </tr>
            <tr class="footer_text">
                <td class="w30 py-0">for CSIRT community</td>
                <td class="w40 py-0 text-center info">Web: <a href="https://www.sk-cert.sk">www.sk-cert.sk</a></td>
                <td class="w30 py-0 text-right">City name</td>
            </tr>
        </table>
    </div>

</body>
</html>
