<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">

    <style>
        html {
            font-family: sans-serif;
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        body {
            padding: 0;
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }
        table {
            border-collapse: collapse;
        }
        th {
            text-align: inherit;
        }
        input[type=checkbox] {
            box-sizing: border-box;
            padding: 0
        }
        input {
            font-size: 1rem;
            line-height: 1.5;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 0;
            outline: 0;
            background-color: transparent
        }
        [tabindex="-1"]:focus:not(:focus-visible) {
            outline: 0 !important;
        }
        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        @media (min-width: 576px) {
            .container {
                max-width: 540px;
            }
        }
        @media (min-width: 768px) {
            .container {
                max-width: 720px;
            }
        }
        @media (min-width: 992px) {
            .container {
                max-width: 960px;
            }
        }
        @media (min-width: 1200px) {
            .container {
                max-width: 1140px;
            }
        }
        .table {
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
        }
        .table th,
        .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }
        .table tbody + tbody {
            border-top: 2px solid #dee2e6;
        }
        .table-sm th,
        .table-sm td {
            padding: 0.3rem;
        }
        .table-bordered {
            border: 1px solid #dee2e6;
        }
        .table-bordered th,
        .table-bordered td {
            border: 1px solid #dee2e6;
        }
        .table-bordered thead th,
        .table-bordered thead td {
            border-bottom-width: 2px;
        }
        .table-borderless th,
        .table-borderless td,
        .table-borderless thead th,
        .table-borderless tbody + tbody {
            border: 0;
        }
        .text-center {
            text-align: center !important;
        }
        .text-justify {
            text-align: justify !important;
        }
        .align-middle {
            vertical-align: middle !important;
        }
        .py-0 {
            padding-top: 0 !important;
        }
        .mt-2 {
            margin-top: 0.5rem !important;
        }
        .text-right {
            text-align: right !important;
        }
        .text-center {
            text-align: center !important;
        }
        .title {
            font-size: 20px;
            font-weight: 700
        }
        .number {
            text-align: right;
            font-size: 12px
        }
        .w20 {
            width: 20%
        }
         .header_info {
             font-size: 12px
         }
        .w15 {
            width: 15%
        }
        .cvss {
            color: red;
            font-weight: 700
        }
        .cvss_left {
            padding-left: 8px;
        }
        .bold {
            font-weight: 700
        }
        .th_data {
            background-color: #BFD5ED;
            font-size: 12px;
            font-weight: 700
        }
        .text_in_tab {
            font-size: 14px
        }
        .checkbox-button__input {
            opacity: 0;
            position: absolute
        }
        .checkbox-button__control {
            position: relative;
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 5px;
            margin-left: 5px;
            vertical-align: middle;
            background-color: inherit;
            border: 1px solid gray
        }
        .checkbox-button__input:checked+.checkbox-button__control:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 11px;
            height: 11px;
            background-color: black
        }
        .checkbox-button__input:checked+.checkbox-button__control {
            border-color: gray
        }
        .checkbox-button__control {
            transform: scale(0.75)
        }
        .footer_text {
            font-size: 12px
        }
        .footer_color {
            background-color: lightgray
        }
        .text_bold {
            font-weight: 700
        }
        .w30 {
            width: 30%
        }
        td.text_in_footer_table {
            padding: 5px 15px 5px 15px
        }

    </style>
</head>
<body>

    <div class="container">

        <div>
            <table class="table table-borderless">
                <tr>
                    <td class="w20">
<img src="data: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAigAAACACAYAAAAh3ZIvAAAMYmlDQ1BJQ0MgUHJvZmlsZQAASIm
VVwdck0cbv3dkkrACEZAR9hJlE0BGCCuCgExBVEISSBgxJgQVN1qqYN0iihOtiiharYDUgYh1Fs
VtHY0DlUotVnGh8l1IQGu/8fue3+/e++e55/7PyN373gGgp+LLZAWoPgCF0iJ5YlQYa3x6BovUC
cjAGKDAALD5AoWMk5AQC6AM9n+X19cBou6vuKm5/jn+X8VQKFIIAEAyIc4WKgSFELcAgJcKZPIi
AIjhUG87rUimxmKIjeQwQIhnqXGuBi9X42wN3j5gk5zIhbgJADKNz5fnAqDbBvWsYkEu5NF9BLG
7VCiRAqBnBHGwQMwXQpwM8YjCwilqPA9iJ2gvg3gXxOzsLzhz/8afPcTP5+cOYU1eA0IOlyhkBf
wZ/2dp/rcUFigHfTjARhPLoxPV+cMa3syfEqPGNIi7pdlx8epaQ/xWItTUHQCUKlZGp2jsUXOBg
gvrB5gQuwv54TEQm0McKS2Ii9Xqs3MkkTyI4WpBp0uKeMnauYtEiogkLecG+ZTE+EGcI+dytHPr
+fIBv2r7NmV+CkfLf1Ms4g3yvyoRJ6dBTAUAoxZLUuMg1oXYSJGfFKOxwWxKxNy4QRu5MlEdvx3
EbJE0KkzDj2XmyCMTtfayQsVgvliZWMKL0+KqInFytKY+2G4BfyB+E4gbRFJOyiCPSDE+djAXoS
g8QpM71i6Spmjzxe7JisIStXN7ZAUJWnucLCqIUuttIDZTFCdp5+Kji+Di1PDjsbKihGRNnHhWH
n9MgiYevBjEAi4IByyghC0bTAF5QNLe3dgNf2lGIgEfyEEuEAE3rWZwRtrAiBQ+k0AJ+AMiEVAM
zQsbGBWBYqj/OKTVPN1AzsBo8cCMfPAY4kIQAwrgb+XALOmQt1TwCGok//AugLEWwKYe+6eOAzW
xWo1ykJelN2hJjCCGE6OJkURn3AwPxgPxWPgMhc0TZ+P+g9F+tic8JnQQHhCuEVSEW5MlpfKvYh
kLVJA/Uptx9pcZ4w6Q0wcPw4MgO2TGmbgZcMO9oR8OHgI9+0AtVxu3OnfWv8lzKIMvaq61o7hTU
MowSijF6euZui66PkMs6op+WR9NrNlDVeUOjXztn/tFnYWwj/naEluEHcROYyews9gRrBGwsONY
E3YBO6rGQ2vo0cAaGvSWOBBPPuSR/MMfX+tTXUmFe517l/sH7RgoEk0vUm8w7hTZDLkkV1zE4sC
vgIjFkwpGjmB5unt6AKD+pmheUy+ZA98KhHnus24B3MtB0v7+/iOfdTHvAfjRGm5z1Wed42X4Oo
Dv4zMrBEp5sUaHqx8E+DbQgzvKFFgCW+AEM/IEviAQhIIIMAbEg2SQDibBOovhepaDaWAWmA/KQ
AVYDtaA9WAz2AZ2gb3gAGgER8AJ8DM4Dy6Ba+A2XD+d4BnoAa9BH4IgJISOMBBTxAqxR1wRT4SN
BCMRSCySiKQjWUguIkWUyCxkAVKBrETWI1uRWuQH5DByAjmLdCC3kPtIF/IX8h7FUBpqhFqgDug
olI1y0Bg0GZ2I5qJT0RJ0IboUrUJr0D1oA3oCPY9eQ1XoM7QXA5gOxsSsMTeMjXGxeCwDy8Hk2B
ysHKvEarB6rBn+01cwFdaNvcOJOANn4W5wDUfjKbgAn4rPwZfg6/FdeAPehl/B7+M9+CcCnWBOc
CUEEHiE8YRcwjRCGaGSsINwiHAK7qZOwmsikcgkOhL94G5MJ+YRZxKXEDcS9xFbiB3Eh8ReEolk
SnIlBZHiSXxSEamMtI60h3ScdJnUSXpL1iFbkT3JkeQMspRcSq4k7yYfI18mPyH3UfQp9pQASjx
FSJlBWUbZTmmmXKR0UvqoBlRHahA1mZpHnU+totZTT1HvUF/q6OjY6PjrjNOR6MzTqdLZr3NG57
7OO5ohzYXGpWXSlLSltJ20Ftot2ks6ne5AD6Vn0IvoS+m19JP0e/S3ugzdkbo8XaHuXN1q3Qbdy
7rP9Sh69nocvUl6JXqVegf1Lup161P0HfS5+nz9OfrV+of1b+j3GjAMPAziDQoNlhjsNjhr8NSQ
ZOhgGGEoNFxouM3wpOFDBsawZXAZAsYCxnbGKUanEdHI0YhnlGdUYbTXqN2ox9jQ2Ns41Xi6cbX
xUWMVE2M6MHnMAuYy5gHmdeb7YRbDOMNEwxYPqx92edgbk+EmoSYik3KTfSbXTN6bskwjTPNNV5
g2mt41w81czMaZTTPbZHbKrHu40fDA4YLh5cMPDP/VHDV3MU80n2m+zfyCea+FpUWUhcxincVJi
25LpmWoZZ7lastjll1WDKtgK4nVaqvjVr+zjFkcVgGritXG6rE2t462VlpvtW637rNxtEmxKbXZ
Z3PXlmrLts2xXW3battjZ2U31m6WXZ3dr/YUe7a92H6t/Wn7Nw6ODmkO3zo0Ojx1NHHkOZY41jn
ecaI7hThNdapxuupMdGY75ztvdL7kgrr4uIhdql0uuqKuvq4S142uHSMII/xHSEfUjLjhRnPjuB
W71bndH8kcGTuydGTjyOej7EZljFox6vSoT+4+7gXu291vexh6jPEo9Wj2+MvTxVPgWe151YvuF
ek116vJ64W3q7fIe5P3TR+Gz1ifb31afT76+vnKfet9u/zs/LL8NvjdYBuxE9hL2Gf8Cf5h/nP9
j/i/C/ANKAo4EPBnoFtgfuDuwKejHUeLRm8f/TDIJogftDVIFcwKzgreEqwKsQ7hh9SEPAi1DRW
G7gh9wnHm5HH2cJ6HuYfJww6FveEGcGdzW8Kx8Kjw8vD2CMOIlIj1EfcibSJzI+sie6J8omZGtU
QTomOiV0Tf4FnwBLxaXs8YvzGzx7TF0GKSYtbHPIh1iZXHNo9Fx44Zu2rsnTj7OGlcYzyI58Wvi
r+b4JgwNeGnccRxCeOqxz1O9EiclXg6iZE0OWl30uvksORlybdTnFKUKa2peqmZqbWpb9LC01am
qcaPGj97/Pl0s3RJelMGKSM1Y0dG74SICWsmdGb6ZJZlXp/oOHH6xLOTzCYVTDo6WW8yf/LBLEJ
WWtburA/8eH4Nvzebl70hu0fAFawVPBOGClcLu0RBopWiJzlBOStznuYG5a7K7RKHiCvF3RKuZL
3kRV503ua8N/nx+Tvz+wvSCvYVkguzCg9LDaX50rYpllOmT+mQucrKZKqpAVPXTO2Rx8h3KBDFR
EVTkRE8vF9QOim/Ud4vDi6uLn47LXXawekG06XTL8xwmbF4xpOSyJLvZ+IzBTNbZ1nPmj/r/mzO
7K1zkDnZc1rn2s5dOLdzXtS8XfOp8/Pn/1LqXrqy9NWCtAXNCy0Wzlv48Juob+rKdMvkZTe+Dfx
28yJ8kWRR+2KvxesWfyoXlp+rcK+orPiwRLDk3Hce31V91780Z2n7Mt9lm5YTl0uXX18RsmLXSo
OVJSsfrhq7qmE1a3X56ldrJq85W+lduXktda1yraoqtqppnd265es+rBevv1YdVr1vg/mGxRveb
BRuvLwpdFP9ZovNFZvfb5Fsubk1amtDjUNN5TbituJtj7enbj/9Pfv72h1mOyp2fNwp3analbir
rdavtna3+e5ldWidsq5rT+aeS3vD9zbVu9Vv3cfcV7Ef7Ffu//2HrB+uH4g50HqQfbD+R/sfNxx
iHCpvQBpmNPQ0ihtVTelNHYfHHG5tDmw+9NPIn3YesT5SfdT46LJj1GMLj/UfLzne2yJr6T6Re+
Jh6+TW2yfHn7zaNq6t/VTMqTM/R/588jTn9PEzQWeOnA04e/gc+1zjed/zDRd8Lhz6xeeXQ+2+7
Q0X/S42XfK/1NwxuuPY5ZDLJ66EX/n5Ku/q+Wtx1zqup1y/eSPzhuqm8ObTWwW3Xvxa/Gvf7Xl3
CHfK7+rfrbxnfq/mN+ff9ql8VUfvh9+/8CDpwe2HgofPHikefehc+Jj+uPKJ1ZPap55Pj3RFdl3
6fcLvnc9kz/q6y/4w+GPDc6fnP/4Z+ueFnvE9nS/kL/r/WvLS9OXOV96vWnsTeu+9Lnzd96b8re
nbXe/Y706/T3v/pG/aB9KHqo/OH5s/xXy601/Y3y/jy/kDRwEMNjQnB4C/dgJATweAcQmeHyZo7
nwDgmjuqQMI/CesuRcOiC8A9bBTH9e5LQDsh81hHuSGTX1UTw4FqJfXUNOKIsfLU8NFgzcewtv+
/pcWAJCaAfgo7+/v29jf/xHeUbFbALRM1dw11UKEd4MtoWp0zUQ4D3wlmnvoFzl+3QN1BN7g6/5
fQIOJGgj7ufIAAACKZVhJZk1NACoAAAAIAAQBGgAFAAAAAQAAAD4BGwAFAAAAAQAAAEYBKAADAA
AAAQACAACHaQAEAAAAAQAAAE4AAAAAAAAAkAAAAAEAAACQAAAAAQADkoYABwAAABIAAAB4oAIAB
AAAAAEAAAIooAMABAAAAAEAAACAAAAAAEFTQ0lJAAAAU2NyZWVuc2hvdHLbbCoAAAAJcEhZcwAA
FiUAABYlAUlSJPAAAAHWaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8eDp4bXBtZXRhIHhtbG5
zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJYTVAgQ29yZSA1LjQuMCI+CiAgIDxyZGY6Uk
RGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zI
yI+CiAgICAgIDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiCiAgICAgICAgICAgIHhtbG5z
OmV4aWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vZXhpZi8xLjAvIj4KICAgICAgICAgPGV4aWY6UGl
4ZWxYRGltZW5zaW9uPjU1MjwvZXhpZjpQaXhlbFhEaW1lbnNpb24+CiAgICAgICAgIDxleGlmOl
VzZXJDb21tZW50PlNjcmVlbnNob3Q8L2V4aWY6VXNlckNvbW1lbnQ+CiAgICAgICAgIDxleGlmO
lBpeGVsWURpbWVuc2lvbj4xMjg8L2V4aWY6UGl4ZWxZRGltZW5zaW9uPgogICAgICA8L3JkZjpE
ZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4K2i2H1QAAABxpRE9UAAAAAgA
AAAAAAABAAAAAKAAAAEAAAABAAAAmmN0gEf0AACZkSURBVHgB7J0HoBTV1ceP9N4EQbD3GixRsK
IRTSwxRUVj19iNxiSabjTNFBN7V7D3lmgUjcYCdiyISn/09njAe7ze73d+l29wWXZnZ9/usrvPc
3XYebszd8785869/3va3chpESuGgCFgCBgChoAhYAgUEAIbGUEpoKdhohgChoAhYAgYAoaAR8AI
ijUEQ8AQMAQMAUPAECg4BIygFNwjMYEMAUPAEDAEDAFDwAiKtQFDwBAwBAwBQ8AQKDgEjKAU3CM
xgQwBQ8AQMAQMAUPACIq1AUPAEDAEDAFDwBAoOASMoBTcIzGBDAFDwBAwBAwBQ8AIirUBQ8AQMA
QMAUPAECg4BIygFNwjMYEMAUPAEDAEDAFDwAiKtQFDwBAwBAwBQ8AQKDgEjKAU3CMxgQwBQ8AQM
AQMAUPACIq1AUPAEDAEDAFDwBAoOASMoBTcIzGBDAFDwBAwBAwBQ8AIirUBQ8AQMAQMAUPAECg4
BIygFNwjMYEMAUPAEDAEDAFDwAiKtQFDwBAwBAwBQ8AQKDgE2h1BaXUirc6J/r9mE93RshH/baS
funXQfzropxVDwBAwBAwBQ8AQKEwE2hVBaVF2UlXXIgtWNsinC2pkzvJ6WVXT7JHfuFcn2W5Id/
na5j1lswFdpHe3jtLRWEphtkqTyhAwBAwBQ+Arj0C7ICgQk4amVpm6uE7en1Ml0xbVSm1jq2pQV
JOimhPKRrqH5qRH1w6yy2Y9ZMQ2vWWnod2la+cORlS+8q+BAWAIGAKGgCFQaAgUPUHBlFPT0CLv
zKqUFz4plxXVTR7jXl07ypYDu8qA3p29rWdVdbPMK2uQmsYW//sg/f6YPQfIyO16S089FtOPFUP
AEDAEDAFDwBAoDASKmqBATupVc/Lm9NXy7KSVSj5aZWDvTrLf9n3k4B37CCSlQ4c1QLe2ilTVt8
gbeux7s6q86ad3tw4yZsRAf3zXTh2MpBRGmzQpDAFDwBAwBAwBKWqC0tTi5POFNfLou2WypKJJt
tukmxw5vL/sPKyHakXWN91gCqpWkvL5wlp56bNy76OyxcZd5eT9BsnOavbpZD4p9koYAoaAIWAI
GAIFgUDREhSidarqmuX6l5Z4otG7e0e5+LBN1RG2m3RRbUhYaWxulZLSern5lSVKWFplh027yWX
fGiY9u5ipJww3+80QMAQMAUPAENhQCBQtQcG088m8arnnjVLv/Hr0Xv3liF37S/cuqU01mIZq1W
/lxSnl8vKn5d60c4GSm91Ui4LTrBVDwBAwBAwBQ8AQyC8CRUtQKjWc+In3y9T/pFK2GNBVzh41W
LZQp9jOHaN5uzY2O5ldWif3TSiV0tVNMnr3fvLdvTYWNDFWDAFDwBAwBAwBQyC/CBQtQSld3Shj
3yyVLzSkeP8d+sjpB27io3GiupHgj1KuOVLGaR1T1Cdl+BY9fB2D+3bJ7xOxqxsChoAhYAgYAoZ
A8TrJLtRkbBCUWcvq5PDd+smpSlBIvBZNf7Imyyy+KNTx9sxK9UPpLmcdtEYLY+3CEDAEDAFDwB
AwBPKLQNFqUBasaJBxap7xBEXNM6cekDlBOVMJCrlTrBgChoAhYAgYAoZAfhEoWoKytKLRm2emL
q6Vg3bsK6cdOEgdZDXvSUQVSquaeCpqW3wdkzUt/u6b95AzVAszpJ+ZePLbJO3qhoAhYAgYAoaA
ZoDXdPAa01J8BSfZx98rkwnqJLvNoK5y5sGDZXPNadIpopMsOVTmaKjxvRNLZUl5oxyySx85fp+
B0qd7p+IDwyQ2BAwBQ8AQMATaGQJFS1AIM/547powY0jJtzVt/Wj1RemmYcKp0tbDyOoaWmX8lF
Xy0qcVfs2ecw8dInts2dPCjNtZA7fbMQQMAUPAEChOBIqWoASJ2q55bpFg7mG14ku/OVSG9e+io
cbJSQr6IrQnnHPd+MVSoZE8Ww3qJpcfpYnadIXjqCai4nzcJrUhYAgYAoaAIVAcCBQtQQFecpl8
rMnaHnpruZTXNvtInJN0bZ1tBnf3pp54dxTISbMymxlL6nwOldnL62Vwn85yyv6DVHvSK7J5qDg
erUlpCBgChoAhYAgULwJFS1BalW3UNzq/UOBzH6/0i/+x4N9W6o+y11a9ZOehPbxWJUh7T0jxyq
pm+WJJrXw4p0qW6do9PXS9nqN07Z6Dd+qr+6Y9Kd5mbJIbAoaAIWAItDcEipKgoAmpUx+Uyao9e
fidMsFhtrMmgFUOIph+yFY/oFdnv7JxkHhtmSZ2g6CsqG6SFj2uhx505J795VAlJ/16mmNse2vY
dj+GgCFgCBgCxY1A0REUyAnakA9KqtVMs0JW1jTJEDXTHK1Osp3VgeTNGatlflmD1CqBoQRmHj3
Nl+5KTLbRVY8P27WvN+t0UQfbDuZ48v/o2IchYAgYAoaAIVAYCBQUQYFENCn5wLeEjb/hDqyvwy
J+7PP9pJIqeWFyuSxWR9eBvTvJMUpO9tm6l88ku6KqSeYpQVmwqkHYr2ts9eeRIwVNyZYairytE
pRBSmrCIn4Cf5V6PR+/Ff4mOghZMBt16RRQn9w/yNbWVqmpqZH6+nppamrK/QVzcIWNFLzOnTtL
9+7dpWfPnm2+QktLi6xevVoaGxsFXPJRunXrJv3799f2kLgNlJeXS11dXT5EC70m8nbs2FF69eo
lPXr0CD027EfaYHV1tX8GPI98FOSnHXXq1Cnpc8hELu6RZ8h7F5aJgTZNe6BdI8uGKvQFyIacYe
9Bly5dfFvluScqvEvUE1aog3uk3UQpzc3NHruqqqooh2/wYzp06CBdu3aVvn376uTUFofd4A8gj
QsWBEGBiLRoZE2DkhPIxYfzqmRBWaM0qBYEP5Et1a9k7616yyZKKqarD8nDb6tZR1cj7qkrF3sH
V/U56a0ROEHBzEMYMuSiSe05fnCE5Cix6KbnhClMICIt+g/XnldWLx9qKDN5Umq1LlZK3kwXJhy
+RU/ZbnA3X19HrTfxMBVIk/knL/xLL70kDz/8cMrOJPOr5a6GPn36yKWXXir77rtvmy7S0NDgyc
m1114rs2bNCu2Y23SBiCdtueWWctNNNyUcGBnMfvrTn0pJSUnE2jbcYbwHDDJnn322jBw50pOUZ
CQrTKpVq1bJuHHj5L333vMkJezYXP22xx57+PsYOnSoJ75tuY8w2Rhc7777bnnzzTdDCQoD9xFH
HCHf//73/YCXjAiEXastv02fPl1uvvlmWbJkifadyUli7969/bNiQE5U/vGPf8iECRMS/bT2O9r
MBRdcIAcddFDCNh8cSNuHLEHQH3/8cXn55ZeDnwrqk2e02267yU9+8hP/PkDArBQmAgVBUMjquk
DX1hk/pVwdWKs9uYC0BIXOp5sSgc01Df0q/Egw6/TtLMfq6sMjtu29VrsSHM8nRAMdDJ8U6oBI6
EdoaVaiVFrZKK98XiETplV60rSOLHo2ZqK9VGNz9B4DlLB08Zqb0Eoz/JGBmc7yL3/5i6xcuTLD
2vJzOvgPHjzYD+zHHnts2kLQ+c2cOVMgJ88884yfoYXNbNO+QBonDB8+XN59992Esy9kOvjgg2X
SpElp1LhhDg0G8a997Wvyu9/9Tg4//HBpS+e8ePFi+dWvfiUvvvii16RsGOnXvQoaFNrRVVddJZ
tvvnnWtRdlZWX+Hh999NFQAsBghzbtn//8pxx99NGRtQzr3k36f73zzjue7PNOoE1MVjbZZBOZN
m1aQq0lbfWss86Sxx57LNnp/nvq+Nvf/iYnnXRSKEGBKFVUVMj1118vd955pxSqBoX3ANJ1+umn
ewyZcFgpTATyTlAgJ/N1XZ0nP1ghUzX8F80HKw3HF7QeNCzlKdKvRyc5du8Bst92fXQF4w5ZIwj
kRymrbJJH3i2T6ZpCv0q1JsgXX1iUsKuaeHbfrKeMGTlQNletSiriE19HOn+jzr3jjjvkz3/+s6
xYsSKdUwvmWJ7dpptuKrfccot873vfS0su1NgLFiwQZntPP/20n6GhVcpX2XPPPT0BSTRbZga5/
/77y/vvv58v8VJeF9PIjjvu6Afg0aNHS79+/VKeE3vAwoUL5ec//7n85z//yRtBwZzCIPPd737X
z4R33nnnrJp7li9f7u/xoYceCiUotGvMBMzIIX3HHHOMlyPXpoOJEyfKj370I0GTEkZQmBTMnj0
7IXGCoJx22mleMxv7fOP3qYN375RTTklKUCAnaHOYSI0dO1YgeLy3hVowzQ0cOHAtSRkyZEjCCU
ehyv9VkSuvBAUiUqsZXW/872LNTVIv9YThpCiQg12HdZcfjhoiQzUpWzYL0UAPaE6Vd2ZV+mRuq
epGk8IaPhcdtqk3/+TK2farTFDQHqEyZkBkxl4IGqRiJyi0a0wTO+20k/zpT3+SQw45JC1zTyEQ
FO4BEoAmZcyYMZ4cQIAZeCANmZaoBCW4Dpqovfbay5tddt11V49vNuQI6o//LBSCAslh4x2FmPz
1r3/1mpN8TiDisQr7G/L1gx/8QK688krBHEb7sVI4COSVoODA+v7sKq+xqKhrXmuOCYMHTUof9T
c5TVcvPnjnvmGHpv3b2zMr5f6Jy2W1ypJAcbJeffSDA3uuSfSGyQcflVyUrzJBCcw6TzzxhJ+th
zkE5gL7RHW2B4LC4IkGiEEVMwnmnqidc6EQFJ4NJAVNClq5q6++WjbbbLOsmHvSJSjgCVkaNWqU
1zbssMMOHt9E7Scb3xUKQUFzginnxhtv9OQMohKQlmzcZ67rCEx055xzjlx00UXeXJjra1r90RH
IK0FZqTlJCBV+d1aVz2sSRWzmRqy9c7iuu3OyZoDtEpLWPkp9HKMTAMH35IG3l8v/vqjw++sbdh
LX1kNJyUE79pHjdKHB/jnKp/JVJCjMwBgI8Tl56qmn8m7WiX367YGgBPcTmHt+/etfC+YeIhtSl
UIiKMgaa+7BQRlzDwNPJhqMdAkKcnBNonlOOOEE+c1vfiPbbLNNRjJQZ7JSKASFvumtt97yvhyY
kgrZrJMMS7RfgwYNknvvvdcT9WTH2fcbHoG8EpQF6nsybkKpzFpWJ41KENIp+23XW84eNdivPox
WJZOCtqRStSZ3vbZMJmnUTjqFyKCdNu3uZcm2ySmQ46tGUAKzzi9+8Qt54YUXCsKsEzwLPsMICr
PH/fbbr6B9UGLvhX3MPQzqOGEfeOCBKc09hUZQuIfA3IMjJ+p6fAoyMfe0haAgB6QIp1n8NX7/+
997s0Euwo+zQVCQ99RTT83IBwXtyfPPPy+//OUv/YSCOou14N9GNFa2C5OtVOHg2b5mPuqj7fMe
8t5B1rNR8kpQSkrr5c7XlsoiDePFQTWdQt4TCApaC/xSMin4wqzQ6KB73lgmkxeE5wSIvw55Uci
tcqH6oWyhUUa5KF81goJZB6c8QhXJt1EIZp3Y59reCAodCx3K3nvv7X05CJsNG1QLkaDwfLgP/A
gYZDBbZWLuaStBQQ466WHDhskll1wiP/zhD2XAgAF8ndWC1uLiiy/OyEkWgYygfPlYckFQmLDQl
j7//HOfIiEsJPxLSYpzD2JCWycFAO8h72OmJa8EhYyvY99cJiW6aF+6GpT9t1cNysGDpXf3TqF5
TaIARKRORW2L3PX6MvlI0+enU8hEu+MQddo9ZLAM02ieXBQICmF7ODS25ygeXt5Fixb5kMZCM+v
EPtf2RlCCe8Pcg+Ms5olvfOMbSc09hUpQuI/A3POd73xHfvazn/n74bt0O8tMCApykHcEgvSHP/
xBjjrqqLQjpagjrBhBCUOnbb9lm6AwsaI/Y7L1+uuv+8kWhKW9FiY5mIiJrDv//PN9WolM7zWvB
CUI6SUZGuHFUQqcDI3JaPVBOe2AQZrZtYN2PlHOTH4MbYbro0F5W/1hEoU5JzubSJ6Ram46UcON
N9b1f3JRCCO8//77fUMnz0CmBZUjZhQyZYZpJ+jYcfzLhsqOAWLjjTf2+SK+9a1vrXcLgVmnLdE
6DAbI2ZaBKFYQ8IAMprKjZ4OggCmmFXwWclV4zrSd2tra0Occe33kwdxDXg/CpRPlSYlKUHjmdF
iJ6oi9Ztg+HTrEFU0azyVKBx/4ghCd8dvf/rZN5p5MCQr3hCYFPxRC63GeBQe+y0YpNhMPbYF3l
HeV93RDFdoO7Z/3IJX2ItsEhffv1ltv9ZFNy5Yt21C3nNfr0L4h5jhNQ1QyLXklKIQYvzG9Qp75
YKWsrk+eDTH2JrHm9O3WyWeQHbVLaoe+2HNT7b+kieIee2+FZo1tiRRRRH39NSfLmBEDZf8d+gg
Os7kokIi5c+fKjBkzQnMeRL12ZWWlPPnkkz7TY9hgzOCCLf2AAw7wnUvU+pMdR+eE+o9w0PhCZl
hmGiSNStesQw4KEk5tscUWGXV+JFdDU0UkQhhxCyMonJcqDwqdNX4KZOfcZ5994qHI2t+kMSdXC
RvEK0pBNjqZk08+2T8PnAf5LrZEJSjUA9HZaqutYk9Pa59BhfwaZE2dN29eSvIYVI7MgbmH6B5M
LukMjNkgKMjCNfFJAofdd9/dk9JAxkw+s0FQIHuZ5kGJ6oMCaTzssMN8u4riiJ0JNrHn0pcQAfj
aa6+lzMKdbYJC33rhhReuNVXHytVe93nveL74D+KXlGnJK0EhcoZInltfXSpzljf4rK1hN0Q3ic
8HGouTRg7y6+mEHZ/ub3PU1DRWtSizVZbWCKq4bjjIDu0u539jiF/np1OGvjDJ5KUjobHTWYcNn
MnOj/+eVOU4RJKuHM1FsoLGg879+OOP9519suOifk8nxYb2ICjcE5lJyZ+QrlmHGel2223nXwS0
Msz+4wfT4DpRPllOgORXDE5hOGdKUBi4yc7JoHvkkUdGEa1Nx9BmUDFfd9118u9//1t47lELs5/
bbrvNq2mRN7ZEJSg8azKekhekrYW2z+yXlPO02cmTJwsz0yiaFMgBJAVzz+WXX+6T0yFTlDaSLY
LCfdNho0GBpJD1FqKeaSk2gsKzwN8Fx2H6lQ1VmIxdc8018sADDwj7YSUXBOXcc8/1/Vqw3hFtj
y3+naK/CetzwuSmrtj6eDeoK/YdCa4Zpe2HXSv2N/ru2GvwG/XzzvG+4ayeackrQUF4zCkzltbJ
uDdLZdnqJr92jn61XmHshxAM09Tylx4x1JtTOmdpwT7ISEOTk4/U1PTwO2U+D4r32eVBJ5EF09I
wTRR33qGDZWtdfLCDPphiKfix/PGPf5S77rordGbN7JnstSeeeKKwjk62C+SIxGuo4Z977rm0on
UwjwQZLpmZoZHItKBpQKuBOpaXL1nJBkEhyoTswN/+9reTXSYr34Mx2jd8IUh0x4w3SkfIoA5BS
ZRhMx2C8vHHHwup9TMpyIv5DfnJ1oomhfuK7xwTXQNCAnFlcCQ9f9TonmwSFAYPyDQJ5fAjY/0g
vstksCg2gsKk5Mwzz/T9Cf3KhiqYxCFF9913n0/DH3bdDUFQIKeYQCBpYEIbZistLZWlS5f6dh3
l/eQ+aD/UQap+JjxB4d0g0ADtEXVDDukft1JNJvuZtDuuQZ30j7yHaGljtbPUTV6iK664IisEhY
vlvegKxu6zhdXuz/9e4E65bYY7/qZp62wn3DzNnX7HDHfDS4vd7GV1rlGPz2apVw/dt2esdpc/P
MeddMt0d+49s9xlD5a4U26d7k6IkwXZkOVvzy90XyyqcchebEXTUDtdtM/pIA/9SrppR+KUxDht
hDm5RTXrOCUETmeYTht2UjkSyaiDntN1Upy+hE5f6KzIp+GSTk0BTge1UFmUoDidxSe8pr64bsS
IEaHn6+DkdJBySsoS1pHtL5FpypQpTtX5KZ95gLUSFKeaLce58UWXHXAazuu0Iwq9T3D89NNP40
9v0988YyVXTtdhcurI67RjDr12cB980raUYDsdIJ12qk41Syll0AHDnXHGGSnbQux1wvaRAbx0Z
ulUk5UQ15RCxRygC/w53gElPqE4KIn3uMWcunYXTNWEG3o+90QdDz74YML3TLUSThcxdaoZCq2H
56XaBKfEb+31N8SOmmvdZZdd5nQ5h1D5uE8lKFkVSTV/vg2p8/naayuRcLocgNOJmVMisXZ79dV
XnS6i6pTArD02rD3xG++Xmss9/rF1KdFxuh6Yr0sJiVNC5NQPyvGsYo/LZF8nDE7N4W6XXXZZR1
7auWpQnE6IsoJl1giKrhrsahtaXEVNk1tVvWZbXdvsGPxb9Lewwq91etz8FfXuv5+tcre+ssRd9
fR896vH57rfPzPf3fG/pe7NqRVuSbk+0KZWfVHCanP+eshSqdcvV1nY2OcaLXEnV9c3u3eUnPz0
oTmeeJxz9yz34uRVbpqSj9e/qHA3/3eJu/Kp+e4Xj831Mt312lI3cVqFW7SywdcXV916gjXrvXP
diprmtbiAEd/xWz5KvgkKg978+fOdZm50kCBeolQvY/A7HZ06cTpdI8W/5MmIQltwba8EBSzUUd
BNnTrV6QJpkTrrQiMo3APPGrL87LPPuq9//euepEQltrQxnUV6kqIhn56khBHbqAQFskmb5DNoo
8k+kUFnu05NPRmTFCMotIjUBVLLYEmfAYkK29TEm7rCNI5IRFAge2pa92QhtirV9PgJizpVR55E
QFCY6Gg6htiqnGrI3ahRoxzECEIEkYC0ZLOv5IKQLPphXddrLbEqKILC+FqvCUwgJLOW1rrnP17
pbnp5sfvTvxa4a55b4G5XYvGaDvLzy+o9cUlFLhiuG7Q+yERZZaNbvrrRrahqdBAdtCZhZIDfAl
lKSuvcfz5Z6e5+fan754uL3D9eWOQgFq98Vu7mLq9z5RAEJTA19S2enFxyf4n7gWpLLhg7258Hu
YE8NCoZWq3EAllKVRY+q+rWyLJOi4j7A1m4V64zT68H6brt1SXuGtUQoSW6RQnYS1NWOeQEO+55
Q3KVfBIUVQc69YtwZ599tlM1Z8pOPbazV1W94wVWXxXfwcfBnvGf7ZmgAA7aJjphdSpOiXshEhT
uAXLLfdApM3tDCxiVpNCho8VQx0VPkBlAkpGUqAQF7R8zX2boUYg2Gg8GFdoag1JbixGUaMihJd
AMt04X73RgFrbxzLNZ0iEotEP1U/GaKjXFeO1IqnadiqDQNnmPaWfZJicBThAftOBoTeirC4qgo
B2ZPK/aXT9+kTvnrpnuxJunuzFqjondTlSTyQXjZrm7lCxMW1wTyTwDUWGQX7sFaIR8YmqZsqDa
3aIaj7PuVFn0urFysB+Yb+743xL3ydwqN0E1IZc/Mscfi1nnhU9WracVWStDIE+IDMFPkCnMP1z
nPK03kSx8d65qayB0n86v9tcNzs/1Zz4JCp0FDZoOPdULGEtO2B8+fLgfmLJp1onFur0TFNSy6r
vgdP2doiUoPC86c9oAmhTMPVGIQdCWgg5Uo748SUlm7olKUDRyzKvsMZUEnXRwrWSfDCzMOpE/G
UGKbZeJ9o2gJEIl8XdgDLFNtbX1WSS+qnPpEBTqQD40Pn//+9/95I12kqwN8X0qgqJJ05z6PXnt
aTIZM/2esQSzZWBCC96vbJl42uQkq7N9qdEQ4demVsjE6ZVSVtUkRLB005wgg/t2lo17d1ZHPOe
/L1PHV7WiyEbq6jC4bxc5cnh/2U+TrHVSJ9NsBb1Ua4jypDlVMv7TCs0I2yTKD6RX144ysE9n2a
RPJzVjiZRVNvvfqhtafCRQn+4d1UFXvEMs6/kct8/GMkKjg/pq2HBb5VIOI016rx+UVMkLk8tl6
epG0ZgB6dJ5I5VDl/fWjbrJWluquKiWxcs6SPEapQsfHqJbz64dMs6Mq403tOTDSVZfBO9FT0QJ
zpc4VxFlEqWoCt3nkyA7KNE6OOzqyxnl1LSOaY9OsrEA4Mz24Ycfyo9//GPBeTWs6MyrYJxkE8m
pnbkPG33jjTe842m60T3aofoQW9buwWkxvkR1ksXxUAcUH0120003ifpF+Xatg118lWv/1k7chx
uPHDnSO6uzYCOOvOkUc5JNB638HEv/Fh/Fg2M/0WjJIiNp10TekTvnnnvu8X1msrZEH0h9119/v
XfADu6SwIPjjjtOPvvsM7++Fg7Cse3ro48+Ejbko19Opxx00EE+TxJO3xTGEtq/+tV4J2Tadl6d
ZDFF6Lo17rmPV3jNyKnq1HrJ/bOdZoT1WgPMIIHfB2aRj+dWuxvGL3bnj53lTr19hvf1mFRS6f1
VtKqMCtoNzDGYkTDTnK71X3zvbHf7q0vdZwtqvIkIMwsb5iI0LPi3XDhutjfp4ACLtuWpD1Z4c0
8qX5kwYZEFk9HE6avdpQ+UuNNUlgv0ntGQfDKvypuIAlzA6POFNV6rdPF9s71j8EUqN6YgfGJyb
e7JhwaF2QnqQE1DHjor0Da/zu+YdbbffnvvHIlzYS6LaVC+xL5QTTyxz58ZJ5oUnKU1lDktcw/t
SqO/vPNwbJ3BflQNytZbb73W5PjJJ584zcDrzUjMJOPbcvzfOO7qKsyupKTEod1KpxSbBgUtl64
Y7DRCLqUmg+ea6y3b2pJEzy5dDUpQB2Yp+kolMd5vKllbaqsG5YYbbnBo/gYOHOg1NZjao246uf
RanuD54PScSw1K2k6ymC8+mlOlkS4z3Unqt3HFo3OVhFStIRw6SEM61tn0D3xKXv283DEI4+txh
ZpV5pbVreewGjygqJ+YdRjocWDFfPMzjcIhGgf/Dwb5deTQSvkOP5XXvih3P9YonTF6Ds6x1JFp
NA7kZqqasCBK4AJpw4QE4YC8xMuyhtA0u/dmVXoZwAXi9JmSqGxHKcXjmS+CQlSI5tdI2XHHduS
YdTTRkrfP5rpTMYJSXAQlaNeQlH/961/eERKH1dj2k2wfgnLooYcmjTJKl6CgmscRGROaJiOMHP
1D1AYmT0yf6ZRiJChnaFQU94lPRD43HK3xhct1aStBQS5Mj5qY06kmJGlbaitBUQ2Oj2rDsRvyk
87GufTjwfObM2eOjwjF34V3jbqyGcWTtolHtSJ+zZovFtfJsH5d5FRNN7/zsB7SRXOSJMsFomO3
1DW2ejPM05NWSnlNsxyiWWDHjBgkfdXU0paiVYpqT3yStxlL6rx5icUDdx7WXTO6kowpca1otGr
0vOmae4WkbOQ/2UnP+dHhQ30dbTXvVNQ2yyPvlskENXkN1AUMj9t3oOy7bS9fZ7LFDMGlUU1CM5
bUyoOaf2VpRaPsulkPOfeQId4klPgOMv82XyYenRX4Bc50MEl5Ezrj8mYdchhg1tFGnxOzTqwgZ
uL5Eo1CN/F8KanmUvp/c48O2j7fSxRzDypvTCw6m0yYpyWqiUc1KHLttdfKN7/5Ta9G19mvaMio
z6RJ5mcda2JFXW9fBwmfo0Kdxv3aQeTHoO2nKsVm4tGBy2eQzlaiulT4hP0O5ixBgMkYE0k2Euc
lul4UEw/tg1T85C0hlwkbJm2+xyT7wQcf+LWxMMnwd2xpq4mHpJgkr1Nin7J9xl6P/W233dZjFr
RR2juZnskdxf3ynPNm4kELQCQMzp3kKyEcV/0/9NtoZXVtk7tvQqnXdqBN+UI1F20taEmmqHPp2
eqcy/bYe2VqYlmjrUhVJ/eBZuOBt0q9ieecu2d6LQp1trV8pFokNCA4vz789nIfeRSlLjQpyPLs
hys8pjjrEt7cdklSX7XQNShEZmiGWG/WIY/BhiqmQSlODQrtA5UzURC6VII396TSpORCg4IcaPl
os2PHjvU5dVLlKdE+3886CT++/fbbfXRalIiLYtOgcJ+FsqE5wKmTaC60FGhTcqGdjaJBod3SXp
Q0+PBzQoTRngQFbc/48eO9mTs+b1UmGhS0HGg74p8Jpjgi3TA/ohVJtXEsWkAwDdpyNjUokU08D
JjkOiFKBnLyczXtlGjStHQKgzERKxCCM+6Y6Z54vyyd09c5ltDj+yeWel8P8qUQ5pyOaQQygmmH
KB58Vx5+Z7n3rVnnImn8gSzUA8GYvrjWm3XSOF0jnGq9qQds79SQaLDOFUkpdIKylYbZEbtPYqE
NWYygfDmIFIMPSqK2AUnB3EPHGd/5xv6dK4ISyIQPgWZr9nb+2Osm22ewIaEWIfTcQ6piBOXLtp
oM07DvGZwZ8MnFROJBiEK2SzoERR3XfUI8XRR2vX4P06E6uvqItdh7ygVBgZCQhBFcLrnkkpQbf
kVEBQYJ5sA1LwQFHwuNkHF/eHaBJwUQFf5Ot5AT5con53mH2T9qXWrecDOVXKS7fVhS5evBd4Nk
ahWqnYlPwhYmG3lOcJz963MLHY6+12m+FJxX0y2QLvxXyP1CPVdrgrnFqxrSrcbLggzUgUzkR0n
nftK5YKETFDJkklkxSkedzn2nOtYIypedfrESFLQP5NlhBhjbmcfv55qg4OiIrf68885zhHvGXz
/+bzp2tC04+xJ+zPlhs3ojKF+21Xgso/4N5jiK6qrXPsNwuo7KqfqTdAgKmb3R+hF+/sgjj3in6
YA00abRrBB+TA4dtBzcYy4ICs6zr7zyiidtkOxU27Rp0zyZgZQgU94ICjP6hZrp9TdPzPPaj4fe
LvXOr6keUvzvpRWNPnkaAzEbpp62bGR85Xzym4zTCCJIQjoaB4gFEUAQrZOV5ECWFuj9pVuoh+R
tnnSpPETttIXooBEiEoron4Dk5CrTbKETFJwMdXG4tCMb0n128ce3d4IC4Xv55ZeLOlFb/DNL9D
cOroHTXrLBKtcEBbkYYHAi1LWsfFZPBpRk8gSdOzPR0aNH+8RizJyTkZRCISi0KZYfIJopUPOH3
WOh/YbMZBg+//zzPUlJ1J7a+l06BAVtBYM7JOXAAw/0/R/Yxj5/XQPLO6QScQNJyQVBUR8TpykI
PEGOct+MJbruTs7yoEQ28UAA5i2vd79+XAmKhuY+8u5yPzBHuYnYYxi8b9RBHHLBujaE+rZli12
vB7+WdEOEITOYhMjwCkGBFMxT7U66BS0Hqet/q8QNcnG71reyDZolIp3um7jMp9u/SlPrQwYzjS
xKdi9GUBIj054JCh0dtm5dMM/pgnmhAyWDSLFqUHiyhUJQkAXcJ02a5EZp6nFIUZQBmhTlxxxzj
Js7d27SDKCFQlAYhPHjUEf2lOsCRbn3fBwDMYAY6orfPLKslXQJSnDvmJ6IMGNpilh/FAgvGg3W
1EJDmEuCEjXKKdcE5f8AAAD//zT8r3YAACXTSURBVO1dB5xU1fn9gN1ld9mlL00UEbEgKKIGK8R
I7IpGI/au/yTWn4mxJWiKJSb2LlGxl6AoFhSDKCoovYh03F3K9t4b93/OhbfMzs68mWHKzm6+q8
PMvnLvd8+7793zvnbFBFkam7ab/LJ6c/e7WeaSZ9aa57/IMSWVDUGeveuwzUW15i/vZZmLn15r/
vyfTLNoY4VZvCn0zxerSsxtb/1kzn9qjXnmvzmmsrbRQMSgSxMOLob8//x4i7kIsjz40WaTW1oX
9PnOgdvRZl3DdnMPcGGf7vsg2+SUhF5PUUWDefyzrbaOe1FHIf6mjNEoBQUF5sYbbzTJyclGRPx
+MjIyzPPPP2/KysrCFmM7gNq6das566yz/LbnyDJ69Gjz1VdfmZqamrDbDaWCDz/80Oyxxx6mS5
curjIeeuihprGx0WfVTU1NZuzYsa7nd+7c2QwaNMjMmDHDZx3R2Lht2zZzxx13mAEDBpikpCRX+
XgdJk6caK8X++NdsrOzzfnnn2/S0tJc6yGOy5cv9z496n/n5eWZHj16uMqWkpJijj/+eL/ysY7L
Lrss4FgYOnSomTZtmqmoqPDbL+7jeD7ggAMC3nPEnrh1797dXHTRRWbTpk2G9453mTt3rjn44IM
DXsv+/fv7lY31sg3nvvP3zTpeffVVn3JwfNTV1ZkVK1aYM844w8rD8e2vrnjd3qlTJ/Puu+96wx
zW3/X19XYMdevWrRkPYvniiy+a8vJyWzfxKykpMTfccEPzMbz+vLfOPPNMs2rVqmbceb2INbede
+659hg+r95+++0WchYWFprx48eb3r17m/POO89UV1e32H///feb9PR0wz57X4999tnHLFy40FRW
VhrK7/2hvJ7jkXPJrbfeanr27GnrYp2s+69//WuLNnf3Dwn2RN4jNfVN5uFPtliCQqKSWVALYYO
twRiSnFVbqszvXtpgLn92rXnlmzy7jdtD/ZBcPAeSRFLgyNLQGLww9Th27bZqcwdIDgnX1Ll5pr
za96QTqIfE4NnZOeZS9OmGlzeY9TnVIZELnr8+t8bc+U6muRiyPDlrm6kF1qFgG0hGz/1KUDzR2
PW7IxIUPmBIDO+++24zcODAgBOu88BSghI5gsIHem1trSUyBx54oL0GviYHB3t+c5Lq27evufPO
O01ubq5paGj5MhgvBMW5e/gysWjRInPqqadactgeSUq8EBRef+LHSZ8vkps3b26+/hxLvKfnzJl
jjjvuOENC8c477ziXwX6HQ1D69etnHnjgAfPaa6+Zt956q9Vn7dq1tn2nwbghKI5AHywqtOSCk/
rXa8pMKKSABOeDxYVm0pOrzbX/Xm8WbNjBIp26Q/lmXd+uLTOXPbvOXPvCevPpimJLoIKto7quy
cxYUmSugRxXPrfOfLe+PKTzvduZu7rUXDNlve3bzGWhyUIMZ0MjREzZn4+XFnlXH9G/2wNB+fLL
Ly3z5w0Zqw81GtRsBHq4RkqD8sEHH0S1b87b2Z/+9CczePDgVm9LnhOi929qukhsWId3CUWDsmz
Zsqj20dfY4IQeTxoU4kc5+Sb77LPPGk4CJCDemPv6mxqaxx57zGpBWIdT4o2gUC6SMGpSTjrpJK
spIgmLh48vXH1tiyeC4sjH5xFfLqhx8bz+JIQkKT//+c9baX7CIShOu/6+H3nkkRYauWgTlE4cW
BAm6JJdWCdP/XebZBXVy/D+yXLt8QNkcO+u0qmT/yrYAO4tWZNTI//+Mle2ldTL4UPT5KrxA6R3
WoL/E132QOkiFTVN8sBHWySvtF56pyfKjScOlIE9kyQpobPLmSLQnkheWYM88uk2Ka5slEG9kuT
2M/aQtK5dpHNnl4641AoTjUxB35ZkVgGPJLlyXH8ZMTgVuHQStxrRDeBRJ8/OzpWNBbUypE9XuX
7CQBmM72gVDGD529/+JjDfCB4qfpuBiUfuvfdemTRpkkDl7Pe4YHZwmOXk5Mh1110n77//vusp+
++/v0BFKIcccojAHOF6bCR3Qg0vv//976W0tBTjdbvfqkFQBGpQwSTT6hied/TRR8v333/fap+z
gWOiV69e8q9//UvwgHE2R/wbE6JAnSyvv/66QI0sePMKug2okOXpp58WvMXbMex5It7o5I9//KN
89NFHAlWw564Wv0H05NNPP5V99923xfZo/wGTpBxzzDHC/vsrMPHIkUceKY8++qjAVNLqsPz8fN
tHvEkKSFqr/c4GEAj55z//KZiUBWp5Z7PPb9aDB7o899xz8sQTT9hr4jbOWEnXrl0FZgHBxCAnn
HCCgHjZur/++mu5/vrrZc2aNa7Xledu2LDBp2y8Jy+55BI7PnwKvHMj6+BYhTmo1VjwPI99gaZH
Nm7caJ8b8+fP99zdJr8pD8cDn3P87VZAUORXv/qV2yEh7WN711xzjcAEKFVVVfZcYgkTi/D+gin
EPmdAPmTy5Ml2THg3wOcf78G77rpLYFYVmG3sIRxL7NOSJUsEJiQZM2ZM86lFRUVyzjnnyMqVK2
XChAkydepU4Xh3CjQkct9999l7N8Tp347Dq6++unk8cS558MEHZcqUKfa5yWcb7wOYfeTPf/6z0
+Ruf4dMUKrrtsu89WXy1vxC67xwECbhc47oIxnpSdI1sZN08ZrgG5uM1NRvl+yiOnljfoHkgJyk
JHWW//vFANl/UIp0DUAm3HrW0Gjkuw3l8s73hVJa3SQH75UqZ43pI4NAEJITO1uy4ZADhyTVQpb
NxXUyfXGRrNxcLekgJRcfkyFHDu8uiV2co91a9b0Pfiior0pe+DJPahqM7NknSS46OsOSN8qS4F
U3CVYtziFRmragUNaCvBG7i47KkCP2TZdUYBStEu8EhQMcbw72xvNFAqKFS3FxsSVRvPHdbtxIE
BT4/whMLs0PnGj0iRM0J1qSE7dJ1rNtPhCJPfxV5MILL7TXgA8dzxIsQeF5++23n30Qe54f7d+w
09uJ221CaguCwn6TJPJ63H777QKTonAyCVR4TWAashMbfAuEY+fbb7+NO4Li9IP3D+8laOCcTW3
2zXuAL2J8KXIjrBQwHgkK5UpMTJRhw4bJPffcIzCh2XuS5J+EkOMpISHBfngsS0ciKEH7oOCB3V
zo//HM7G3mCphG6GA6eVqm+WJVqaGjJ31JmqAu4Ye/6TA6Y3GRueX1TeZCOLT+5sUNMPMUmYoa3
/4e1GLyg1ObP3Zbc+u7fnA7nWPfnJ9v/T8uQP2T4Xg7a0UJnEzrrfnJkYVmlILyejNzebG54+2f
zHkwM/368dXmxlc2mnkwFdEnBdWFVUqrGs1/FhRY89VFkOWPb/5kzTW5pfXWJ8WRhbgUQb7Pfyi
xfifE5crn15mX5ubuth9MKILHu4kH9xj5ZNx+wjXxxGvfaNqi+YEmBTqJ+ivBmnjitZ+UK5ZOst
44gixa51doLwwmF5/Oit7Y8drQdEKTGR0l49HE493PePibDqg333xzsxOnN66ef8ejicdTPmgFr
bM1CKArtIFMPPQxoX8Lxx5NjaF8oHG0DrSOAHFn4gFgQq1IaXWjvA8txMKNlVJV1ySp0ER0T+ki
QzOSpVe3BMFkL4WVDZJdUC/lNY1SDW1BD+w/cVQv+eXInlaL4qltoaEJHEHgGyLV0HKUoX5qa9K
Tu0g6zuuG+rtCE5GU0PJtDnM96m+SOavLZOYyqLFhvqFWhucMyegqfdMSMdNBlopGyYJ5imYhHk
PTCmdAKnwo1yXH9JORe3ZDP3Zfc0H5ayCzlWV5iZSh392gCUlPSZAhfSlLglWRFlc1yE/5dVbuG
uBCbclYaE0mjuktPVPBhr20LcQ8kiXeNSiR7Gs06gpXgxINmSJRJ/xUBE6Z1qRH9TPf3HyVYDUo
vs6Nl21tpUFh//Fwt2++iHCyqvt58+YFfLvneTTv0HRFjQBNO7fccktcmXgoY7wVmmv/8pe/WDM
Hf7uVeNWgODJTszxy5Ejbl7322quF2cY5ht+BNCg0D9KcTQ0jx2Io5ZRTTpHDDjus2fQedyYepz
PsV0lVo3y7rlwWbKyQ/PIGO/EbeFw4Vh52nmreZJh+BsLP45j9usP3JN0SmeZ68KMOhARhtbIut
0Z+2FotWQV1MAs1ATyx56eBpOwDf5cRA1Nk3wEp0gcTfSJIiNMOSQrNJd+sLYfJp8L6uNSChLB0
2ameJiFhSYEsNAEdtneaVIJMzAWxKQNp2QPynX14Hxm1Vzcc0xnt7jh+d/4lYVq4qcJiQ3+bWph
8+J+3LMSlX/dE+RnIyVH7dpfeIHbhtBusrEpQgkXK93EdjaDQhEBzE0Id5dJLL5U+ffrAPOqfqC
tB2TUuQvFB2XXWjl8IPxaSE9rr6ScCx0fvQ1r8zWtCfwOa3ug/Q7+QdevWufpWxMIHhc9559NCY
I8/OA84H4/NUf/ZkQgK8UtNTZXTTjvN+nfQV4/mHW73LIEICk1wNIMG8n/yrNP5TWLP54XzfIhb
guII3ABtSg6cVH8EsaAfxVZMyNSoUAngaA72658Ch9EUOMQmSoLDKlABCQjJxTI4ln6+qgR11Ah
SijhVW+dS5y/eAPQXGQ6ScjK0MAfQfwVEwrM0gZNshX/J6m3V1iEXphWr6WGbPaCZoPPqfjh/P5
CcAT2SpA4k5tMVJfLx0hKpAiHaB9qfX4GkjAZ5cbQ7bJfFkYNDYceNhm+7x/c/1DIVQYO0aicum
+FUXFHbaPtMrRCdYPeHHOwHZYm21sRTSiUonmiE/rujERS+mdPnhA6T9D8JVJSg7EIoHILCWvgW
O336dOtfQK2I87zZ1ULLX5wYqN06/PDDrTPqli1bBDl5Wh7k8Ve0CQonOU52dJZ283PiM5OTG7U
AzuTmIWbUfnYkgkKQHByvvPJKQXSedaD19tNzCAoiqqxj9VQ4yZLYeBOZSIAebYLCGyKsQj8Q+n
eAlJjSqgbr58GEbvww2RhMNYYhvfS74LGehfsYdnzd1B15UZgb5Tb4bbz9XYFN3rZqc5UNRX5jX
r75PXxY6KfBvCfXIY/K5ytLbII0zzpZPX1JHFkK4XPiSxbKy/PoE0KZP0S4Mf1pGObLur9H+DOT
tq3ZWm2mfp1n/v5+tvkTfFuYhO2t7/LNhtzq5j559sfzN+tnn9l3+qbQJ6ZZFsjFbdznyOJ5brR
/qw+K5ZvknLv16Wg+KEysBK9+gyiroIae+qDsGjcgKAETtbmBSn8UTKIGkT02xB1mNdcxiUnG+g
wguscmRePfbuMYBKVFWKinLCAXYSdqg+OpYbg8NDqGWPj7DB8+3Nx22202KZmnDNH+3ZF8UJzrD
IJnfcXgNGvHjnfSSJAGA2dqwwRxDFNGJF1Ekm36ulbR9kEJm6D4EjqYbZycmTvkepATJjj7wxub
zHTkWNlaVGcdaEk0OHnXQUVDh9qsghrz2rd55saXN1rHXCZYW5ZZaUlKMO35O4Ykggna3l24gyi
RpNyOuh+euWWHbPibzreTnlxjv0lkboJjLR1zswtrw27fn1zR3K4EZdcE49z0oXx3NILCyQ7qYp
s1mA83TppuRQnKrvETLkEhziQK0ITYTL9MzkbnxVDGo9ux0SYozM+BMHaz5557uspM4oWQW4OoM
rehFfF98UZQYD41CDE3WVlZhvca8WC2YITuuuLnfY2JJx3an3nmGZOZmWnrYn38wFxokOrA8L6m
MzjJIx2AmR/IOSZS32wL4e42eyxlJGHmC0+kMsmGHGYMIcIutJpkFdbKlDl5siG/BiHKiXLx0f3
kiGFU//nPG0LfjuXZlfLaNwXWkXb4wGS54ZeDrGOplxkuJBlpVWIo9KwfSuT9RUUIE95uTTH+Kq
FphyagsfumyYVH9bPyh9O+v3aitR2DM67zoESr35Gqt6OZeBxcaNNmbo2rrrrK5t/wp4pXE4+Dm
AgIStB5UHad1foXzSO8L5k7Ahk8dytHRetaxeZQiWYeFPrRMFyaYdMcF/4KHa4vv/xymx+F+ZVi
VeLNxEMT17hx4wTLHjQ7mtIn5JtvvhFk4g0JFvqf0LEdSzbY6+yczHBqhlVjeQtr/qNphzmloFX
x61jrnBvqN9tizic6fLMfbIt9jFQelDbRoFBr8dJXedasQpPNN8hIW4VwYS8LUCs2zfMYVjwdZq
GrkbWVmpfPkEGWJp1wC6o28F8xf5uehRDkNeZchCC7fRiiTJPUk5/vSEvP89tLUQ3Krjdg3JAhv
bnw+I6mQXEw4BsX1/Z4/PHH7ZuWv/GsGpRdYyYSGhTiTC0KU5jzzRpOsBFb00Y1KPEVZsyQXmo1
uNYSQ3354W/ee859GOw3tRVwWLWmHKcuflODQS0c9zt1sX5u9zwuEr9ZJ9d0o9mJbbHNdq1BwUR
uo2bun7HZRv6MGtxNrhjfD6HJic1ROeio38LzGfHz0tx8WYHEaCMGpcq1SPrGaJhwCtFFunt5+W
sktkKIs4evrt9q6e/bD9qfK5A1lgnrvJ12/Z7YxjviXYNCBj5kyBDLxL0dwKIJHZ3LMEFYpz/MG
X6bctOg8LyjjjoqYCZZPDBsHxkxE61C50W+1bJfbg6Mnu07cvFNnlk16djItyLPEqwGheeNGjXK
XkfP86P9m/2mg2A8Jmpz6zvHDmVesGCBdZplJlZG9riNRbf6uM/NSZb7L7744rAyyQarQeF9zBD
V3/3ud83ZcNl+tAszuL7wwgs267GTzdVfm9EIM/7tb38rWCtHiNP/QuE9T6d7Zpqm4324JeYmnn
pkf12NyJbnvsi1uVJ+PbavHI0srswuG2xhhMwny4vl7e8KbZ6TK8f3l0OGdAv29FbHcSpinXCIl
dmrymxkUauD/GxgDpPxB/aQsw/rY/O/+DksrjbHO0Fh9lE41MlBBx3UrAaNBYBUszLFPrNgMjrB
XwmXoNB0wpTVJAFY8MtfM2Fv50ORqeafeuopm2o7WJLChrEKqiBhm8DO3SrqIliCwknpzTffjHm
qe6r1sbJuc3pxX0CSeEUq1T3DfZnqniHAkShUm3Mphd/85jc2UseNaAVqL14ICicuknHKQ3NPrA
rHPHwvbPZet2gnyhNpgsL2HnroIRsOzmdKOEQzVniF2w6fbTThcfkHkt9wS8wJCn095kFTQXLBc
NsrxvWzob+B1s/x7Chfbuch/wq1HcADfiAZMg4kYXcLtKtWa0KfmCVZla7+J95tMCncgQgVphaF
a/q0hxLvBIX20ocfftiGUjKtd6zKJ598Yt/wkEU16gSFD2oSB+Y0iFbhA5Lhn1igTuBMZx/Uwba
FxQLtWjyU09sXJRSCQvs0tSixLBzfTA3PNU78lXgmKCTH1JwwodZNN91kc53460eg7fFCUCgnCS
vHkrdGLlAfwtlPUkA8+QlEECJNUNgm/UCoNeK1pI9GKC8J4fS7Lc4l8WQ4M18O/vGPf1iiEq4cM
ScozA47Z3WpTF9YJH1hHrkGiw3uhSyroa6D8z0Ssk2dm2ezz553ZIbNTru7YOwwGzXahQyXZe9Y
1CnYuij30L7Jdm0h9qM9lHgnKKNHj7Zv7z/72c/suiOxwpSL3/GtlW9cbg+SSGhQBgwYYIkDb+Z
oFr59c5FGLlD30ksv2bV53PrmyEKCQgJFOcMhKFzMzNdifE470fiGj5UgrNUuEuev/kgSlGAXC/
Qni6/tnNyoCeJCj9TQ8BrujiYlngiKr37G07ZIExQSIpISRNlYTSavIa9rRy1M4Eancb50UVtGc
3HYBSDGtFTVNtn1cOjkeitCi9dsqzb1yM4Wapm3rsyueXPNv9eb2atKQj29xfF0vmWOknuR58TN
MdbXPq6jM3laltlc5L4+QosG2/iPeHeSBUGxa05wSfFYFkQjWCdRvOnR6uf3E66TLCZ8m59gxow
ZMesenS+xgrV1yAvUP/Z94sSJBou9+Qw5DtZJlu3Auz9mfXQa4jpCsIP7vX7sHwiKQfSDX/lYx2
WXXWZzjriNhUg5yTqye38z/BimQOvcyHHjJouvfSAoUc2DAjOieeONNwKGGfuSLZ62QatjQ3G98
de/2xYBqr1iWmrrm8z8deXm/15YbxO0kWggrX1IMjDB2qyVxS0Sq4VUgdfBqM4mTXvss63mvCfc
o3e8SQrzpjw+a6tNUOdVbdz+qQTF96XpyASFESKcdJF90jDXRqDJQQlKfBAUXjfmysASBAZ+SwG
vm/d1jTZBgeOpee+998zee+8dsmzesrbV3yR+JKxMOKclvhCIOUFpgLaC4bw3v7rRhhlPxQq+Zc
iqGqwOBafb7K/PfZFjE6fd+U6mTZgWLqwkKVzp+EokYvt1kCSFocbXQoMTqVDncPsQ7PlKUHwj1
ZEJCnvMyWTWrFkGPiEBJxMlKPFBUHjdSFJ+/PFHM2nSJIMIt+aQzmAm9GgTFCc0GrlzDJOQBSNT
PB1DLV+vXr0MHDoNlhog3FriCIGYExQSEWaJfeiTLTs0IMgkuz4HZh5sC1RIIupgDlryU4XN5no
RcqgwDT5WSw50asD9bD2roNbc8XamzRrrrSnx9TczzE6elmm1JzQTtZeiBMX3leroBIUmMzjrmT
FjxgScSJSgxA9B4WiF35C9dghht3knaJIIZqKPNkGhbPCrMGvXrjXw32qREyMY+dryGGJIwnf22
Web9evXG4Snszta4giBmBMU9p1z+YrsKptK/nwkRbvj7Z9MJlLZk4C4FZqCMvNrbVp8Jmljyvmc
kjq75o3beYH2sV2m1ecaPFdhvZ9gNCjUntyK9YHWY10ekpMAogcSIab7laD4hlsJyi6/GyUo8UV
QOGIRkWVJyrBhw4JO7BULgkLZOLljZWWDbLHWX6YtiUcwbdOswwRjF1xwgUFUmpWfREtLfCEQ8y
geDB77FKysbZKZy0vkM6wmzLDh/RGqy1WKh/ZLlmSsUszoGITO21wpzFHC6B+uDDz7x1JZn1srv
bA68emH9pJxB/Swx7Pe3Slsuxap7VdtqZbpSHO/Gash90jpgrwsXaQYqxFXYx/4h5WR8iR26Syp
kG9IRlc59RCuqpwaUg6X3ZEx0ucwcdff//53mTJlivUy91c/fBXsccyJgWyH/g4LajuGvY2OYSp
12Hpdz2GY8aOPPipHHHFETKN4Pv74Y2FiJUbxuHnbM8qIybTwkGvVD5537LHH2v2tdu7cwPMYHf
P000/L6aef7u+wiG9nRMHixYvl5ptvlqVLl7rWf+aZZ9ooHkxwrfrJFXSZp4Z4MYzZX4H63Kbvj
nWYMQi4MG2/W5gxw9eZB+WRRx7xGQYNvw+bvp1RNG5RT/C9kAcffDCieVD84cmxxRwpcK6WBx54
QKC1cJWN9fD68TgmP/QuvCfhCCxwcvXe1eJv1sE+IsOta4gwQ6M3btxoQ0xnzpxpo5BaVBQnf/D
+Y86ak08+2SYUGzFihM23BI1KnEioYjgItAlBYeMkBrll9fIuwo2X/FRpw4X7pCXI4fuky8F7ps
qevRF6jBwjcKqVLcX1sjizEuvwVEk+ssgmgbxMGNnTJkdL7YrYeo9xxQyw4MGYYNgGiMXOnvIQD
kDOKZ35jQ3chwgiWZdbI0i9LwUVjdI1oZOcOaaPDM1IlqyiWlkE2XJL60FijKQkdgIxSZbRSArH
DLgZyF6bhOPbW2H4ItKZ2yRasCH7FR+2WfnDH/5g49rDTULFa8HwZiYn+/zzz/22yR3MYXH33Xf
b8NSIhKq5trZr55w5c+TOO++0croRFD7QSLJ8ERT285xzzrFrU+yqueUvnkfyd++998ovfvGLlj
uj+Bev9cqVK22WUvg0uLY0YcIES04pp/eDmwSOE+Ts2bPthOmvIhIUhm4z8V4sC5NicX0SN/LEc
cVw8cmTJ1sy4y0f67j//vvtmiZuY4FroXDMcH0Vhi5Hu1AWZkR95ZVXbJg6SQHHnL/C68dxzfwU
3oXn3XLLLZbweO/z/Jsho3fddZeQtHqPBc/j+Jt1khBhQTwbWuu9Px7+5rhk6DtW8LbZnGP5jIm
H/rcnGdqMoBAkakawjo68v7hIFm2qlKKqRrsIXxcQCCgpbOp4ajcaQTZggbGkgsndThjZQ04Y0V
PSUxJakBPepghjlmLUs7mwTjKL6mxafGjupDs0LntD6zEMBKNPWqJ069pZ0LwsBfF59Zt82za1M
icd3EsmHNQTSYV2kCjKyPufdZOKkOBwoUBqeEh08H+7K0zgxZwKfLi5PXy5GBUfuvzmTR1uYZtM
Q843ebfCeHq+4TLxT6AHols9oe6jXJSP+Lg99Cmfm0aJGVxZj7/CPhFTPhhjmYiOfeI1YD/diCn
lplyUz1fWT+LDscNvN+0C+4l1OWKaDZiyUy5eAzfZSBKd8e2vj8QoEAHguc494ouwUp5IF96zvI
b88Jq6jVXKx2vgTzaSONbjVlgHx3ywBIy4cfy73QNu7UV7n3P/kbRxDMTyGRPtvnW0+tuUoBBMT
v5wcpUfNlfLii1Vkg1iUQKC0UD2gP9JABKhpegLUjEE5p9RWPNmJD40A5EosFBrAidb2ZhXK0uR
CXb1thopKG9oNs1wPw+FdcYmhztwj1QZvVc3azb6aGmxZO806/wSJqbxMBmlw8Szs2pbv/6jCCg
CioAioAgoArFFoM0JitNd+nnQzyS/vF7yyxqksLLR+n+kQ9NBjUf/HonSB5lnqUHxLCQ41LL8gI
UD3/m+0JqAqPUgeeGxzFbLN4wi1FcB7QrbSYD2owe0L2RAJVVN1kwzEWvpHLd/93azno4nBvpbE
VAEFAFFQBHoaAjEDUEBz7DaFJpjrA8JN+ws1GZYvxH88NRskJzUN23HKsQV8h+Qk5KaJukF7ccI
aFjGgWzsAT8Wx0eEixRuhsnnqzVldrHC4uomW3tPHH8izDp00O0KHxNHK+O0rd+KgCKgCCgCioA
iEHsE4oag7E7XqSlBqnx5Y36BZBfVy6CeidaH5FA4saYlJ1hNiUNoaOZBODDMSU3W8XXWyhLJKW
2A6SjBLvQ3CiafUNcD2h2Z9RxFQBFQBBQBRUARCIxAuyUo1J7UwLTz5KxtNvw4CQ4m1x7f32pPu
iGyx61UwjF3NUKWn/8iF74uIiP2SJEbThxk/Vrao9OrW191nyKgCCgCioAi0B4RaLcEpQ5OsSQZ
T87Ksbgfj6ieiYf1Fu+wY18XhdoURg+9u6BIvl5bZs1HN588SIYPSIZJCJ60WhQBRUARUAQUAUW
gTRFotwSFDq8MT/58ZakM7JkkVxzXT4YNSAnaTEOfFBKclxlijIRsp47uLach8VqalxNum14dbV
wRUAQUAUVAEfgfRaDdEhQmT3tpbr78AJJx5LA0ufTYfjvDg3eEHge6nozmYWTPi0jQxiyyY4amy
SXHZNion0Dn6n5FQBFQBBQBRUARiC4C7Zag/FRQa8nFxvxa+SWyyl5yTD8kE0PitCDxog8LzUQv
fJkn8zZUyAik2r8MWpjBiPzRoggoAoqAIqAIKAJti0C7JSibQEyo/dgEonLiqB0EpTNCdkIhKAx
RJkH5dl05HGVT5XIQFIYma1EEFAFFQBFQBBSBtkWg3RKULcj+SoKyNqfGLhh4ybEZWCunS9Cp55
lrhSHHL6COpZlVcsheqdZM1L9HUtteEW1dEVAEFAFFQBFQBKTdEhSmw3/t23xZsLHSRt9cMa6/D
OyVJAlO4pMAF5ep9LMLoYWBHwsTuB29X3e54Mi+0gPr8WhRBBQBRUARUAQUgbZFoN0SlJp6ZJDd
UI4onAJJxlo9547tK8cO7y7JScGFCfP8OatL5YNFxXbRQjrZjt03Pejz2/ayaeuKgCKgCCgCikD
HRqDdEhRG4ZRWN8p9M7bYFYv7d0+Um04aJBndk5rT2/u7dAwxLqqol4dmbpOCigbJwHo9d5wxWH
p2w6q9QWpg/NWt2xUBRUARUAQUAUUgfATaLUFh17mC8VysrTMdWhCSlcMQKnw2Fv0bkpHcYs0eT
5joe0IH2/cWFcmyrCrpC1Lya2hfjoT2RVPdeyKlvxUBRUARUAQUgbZDoF0TFJKNUqxG/OHSYvka
RAWRw7JPv2QZOyxdDsKCgWlIec+Vi1noc1KF5G4rt1TJfIQVZxfUCaN+JozsIafYBG0JfkmNrUD
/UQQUAUVAEVAEFIGYIdCuCQpRYj6T3LJ6mbawUJYjGqceRCQJpITROAdijZ0dUTlG8soa5EckZM
srb7BkhcccCo3LuUf0kX44Ntjw5JhdGW1IEVAEFAFFQBH4H0ag3RMUXjv6o9Dp9cvVZTJvfYVkI
TpnO7Z7kw5qWLiM4N4wAR01PF3GH9BDUuBUq34nAEWLIqAIKAKKgCIQRwh0CIJCPGnuqarbLjkl
9bIhvwZ+JnXQmtQL1+whUeEaO1yzhyagYfjwd2rXznahwDi6HiqKIqAIKAKKgCKgCACBDkNQnKt
Jk0/jTo1KXcN2+5v76ADLlYpTd2pMOnmrV5wK9FsRUAQUAUVAEVAE2hyBDkdQiChNOSQq/LXjG0
wMhISJ8JWYEBctioAioAgoAopAfCPQIQlKfEOu0ikCioAioAgoAopAIASUoARCSPcrAoqAIqAIK
AKKQMwRUIISc8i1QUVAEVAEFAFFQBEIhIASlEAI6X5FQBFQBBQBRUARiDkCSlBiDrk2qAgoAoqA
IqAIKAKBEFCCEggh3a8IKAKKgCKgCCgCMUdACUrMIdcGFQFFQBFQBBQBRSAQAkpQAiGk+xUBRUA
RUAQUAUUg5ggoQYk55NqgIqAIKAKKgCKgCARCQAlKIIR0vyKgCCgCioAioAjEHAElKDGHXBtUBB
QBRUARUAQUgUAIKEEJhJDuVwQUAUVAEVAEFIGYI6AEJeaQa4OKgCKgCCgCioAiEAgBJSiBENL9i
oAioAgoAoqAIhBzBJSgxBxybVARUAQUAUVAEVAEAiGgBCUQQrpfEVAEFAFFQBFQBGKOgBKUmEOu
DSoCioAioAgoAopAIASUoARCSPcrAoqAIqAIKAKKQMwR+H8tw5b8TFqqNAAAAABJRU5ErkJggg==">
</td>
                    <td class="w60 text-center align-middle title">VULNERABILITY REPORT</td>
                    <td class="w20 number">No: SW1234-ER/2</td>
                </tr>
            </table>
            <br>
        </div>

        <div>

            {% for report_item in data.report_items %}

                <table class="table table-bordered header_info" style="width: 100%">

                    <tr class="table-row">
                        <td class="w25 py-0">
                            <div class="mt-2 bold">CONFIDENTIALITY</div>
                        </td>
                        <td class="w15 py-0">
                            <div class="mt-2">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="low" name="low" {% if report_item.attrs.confidentiality == 'UNRESTRICTED' %}checked{% endif %}>
                                    <span class="checkbox-button__control"></span>
                                    <span class="checkbox-button__label">Unrestricted</span>
                                </label>
                            </div>
                        </td>
                        <td class="w15 py-0">
                            <div class="mt-2">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="middle" name="middle" {% if report_item.attrs.confidentiality == 'CLASSIFIED' %}checked{% endif %}>
                                    <span class="checkbox-button__control"></span>
                                    <span class="checkbox-button__label">Classified</span>
                                </label>
                            </div>
                        </td>
                        <td class="w15 py-0">
                            <div class="mt-2">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="high" name="high" {% if report_item.attrs.confidentiality == 'CONFIDENTIAL' %}checked{% endif %}>
                                    <span class="checkbox-button__control"></span>
                                    <span class="checkbox-button__label">Confidential</span>
                                </label>
                            </div>
                        </td>
                        <td class="w15 py-0">
                            <div class="mt-2">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="critical" name="critical" {% if report_item.attrs.confidentiality == 'SECRET' %}checked{% endif %}>
                                    <span class="checkbox-button__control"></span>
                                    <span class="checkbox-button__label">Secret</span>
                                </label>
                            </div>
                        </td>
                        <td class="w15 py-0">
                            <div class="mt-2">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="critical" name="critical" {% if report_item.attrs.confidentiality == 'TOP SECRET' %}checked{% endif %}>
                                    <span class="checkbox-button__control"></span>
                                    <span class="checkbox-button__label">Top Secret</span>
                                </label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="w25 py-0">
                            <div class="mt-2 bold">TLP</div>
                        </td>
                        <td class="py-0">
                            <div class="mt-2">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="public" name="public" {% if report_item.attrs.tlp == 'WHITE' %}checked{% endif %}>
                                    <span class="checkbox-button__control"></span>
                                    <span class="checkbox-button__label">TLP:white</span>
                                </label>
                            </div>
                        </td>
                        <td class="py-0">
                            <div class="mt-2">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="reserved" name="reserved" {% if report_item.attrs.tlp == 'GREEN' %}checked{% endif %}>
                                    <span class="checkbox-button__control"></span>
                                    <span class="checkbox-button__label">TLP:green</span>
                                </label>
                            </div>
                        </td>
                        <td class="py-0">
                            <div class="mt-2">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="confidential" name="confidential" {% if report_item.attrs.tlp == 'AMBER' %}checked{% endif %}>
                                    <span class="checkbox-button__control"></span>
                                    <span class="checkbox-button__label">TLP:amber</span>
                                </label>
                            </div>
                        </td>
                        <td class="py-0">
                            <div class="mt-2">
                                <label class="checkbox-button">
                                    <input type="checkbox" class="checkbox-button__input" id="secret" name="secret" {% if report_item.attrs.tlp == 'RED' %}checked{% endif %}>
                                    <span class="checkbox-button__control"></span>
                                    <span class="checkbox-button__label">TLP:red</span>
                                </label>
                            </div>
                        </td>
                        <td class="w15 py-0">
                            <div class="mt-2 cvss_left">CVSS score: <span class="cvss">{{ report_item.attrs.cvss|e }} </span></div>
                        </td>
                    </tr>

                </table>

                <br>

                <table class="table table-bordered">
                    <tr>
                        <th class="th_data">DESCRIPTION</th>
                    </tr>
                    <tr>
                        <td class="text-justify text_in_tab">
                            {{ report_item.attrs.description|e }}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <th class="th_data">EXPOSURE DATE</th>
                    </tr>
                    <tr>
                        <td class="text-justify text_in_tab">
                            {{ report_item.attrs.exposure_date }}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <th class="th_data">UPDATE DATE</th>
                    </tr>
                    <tr>
                        <td class="text-justify text_in_tab">
                            {{ report_item.attrs.update_date }}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <th class="th_data">CVE</th>
                    </tr>
                    <tr>
                        <td class="text-justify text_in_tab">
                            {% if report_item.attrs.cve %}{{ report_item.attrs.cve[0]|e }}{% endif %}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <th class="th_data">IMPACT</th>
                    </tr>
                    <tr>
                        <td class="text-justify text_in_tab">
                            {% if report_item.attrs.impact %}{{ report_item.attrs.impact[0]|e }}{% endif %}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <th class="th_data">IOC</th>
                    </tr>
                    <tr>
                        <td class="text-justify text_in_tab">
                            {% if report_item.attrs.ioc %}{{ report_item.attrs.ioc[0]|e }}{% endif %}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <th class="th_data">AFFECTED SYSTEMS</th>
                    </tr>
                    <tr>
                        <td class="text-justify text_in_tab">
                            {% if report_item.attrs.affected_systems %}{{ report_item.attrs.affected_systems[0]|e }}{% endif %}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <th class="th_data">RECOMMENDATIONS</th>
                    </tr>
                    <tr>
                        <td class="text-justify text_in_tab">
                            {% if report_item.attrs.recommendations %}{{ report_item.attrs.recommendations|e }}{% endif %}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <th class="th_data">LINKS</th>
                    </tr>
                    <tr>
                        <td class="text-justify text_in_tab">
                            <ul class="list-unstyled">
                                {% if report_item.attrs.links %}{{ report_item.attrs.links[0]|e }}{% endif %}
                            </ul>
                        </td>
                    </tr>

                </table>

            {% endfor %}

        </div>

        <div>
            <br>
            <table class="table table-borderless">
                <tr class="footer_text footer_color align-middle">
                    <td class="w30 py-0 text_bold">Created by Taranis NG</td>
                    <td class="w40 py-0 text-center info">Repo: <a href="https://github.com/SK-CERT/Taranis-NG/">github.com/SK-CERT/Taranis-NG</a></td>
    sk-cert@nbu.gov.sk</td>
                    <td class="w30 py-0 text-right text_bold">Company name</td>
                </tr>
                <tr class="footer_text">
                    <td class="w30 py-0">OSINT analysis tool</td>
                    <td class="w40 py-0 text-center info">E-mail: sk-cert@nbu.gov.sk</td>
                    <td class="w30 py-0 text-right">Company address</td>
                </tr>
                <tr class="footer_text">
                    <td class="w30 py-0">for CSIRT community</td>
                    <td class="w40 py-0 text-center info">Web: <a href="https://www.sk-cert.sk">www.sk-cert.sk</a></td>
                    <td class="w30 py-0 text-right">City name</td>
                </tr>
            </table>
        </div>

    </div>

</body>
</html>
