<dialog id="share_story_to_report_dialog" class="modal" x-init="$nextTick(() => $el.showModal ? $el.showModal() : $el.setAttribute('open', 'open'))">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Share Stories</h3>
    <form>
      <label class="select w-full mb-5">
        <span class="label">Report</span>
        <select id="report" name="type" required class="validator select w-full">
          <option selected disabled>Select a report</option>
          {% for report in reports %}<option value="{{ report.id }}">{{ report.title }}</option>{% endfor %}
        </select>
      </label>
      <button class="btn btn-outline" hx-post="{{ url_for('assess.submit_report_story') }}">Share</button>
    </form>

    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
