{% macro story_tags(story, compact_view, detail_view) %}
  {% from "macros/query_params.html" import update_query_params %}

  {% if story.tags and not compact_view %}

    <div class="w-full max-w-full">
      <div class="flex flex-col gap-2 lg:flex-row lg:items-start lg:gap-4 w-full max-w-full">
        <div class="lg:flex-shrink-0 min-w-0 max-w-full">
          {% set collapsed_limit = 5 %}
          {% set expanded_limit = (story.tags|length) if detail_view else 20 %}

          <template x-if="!isOpen">
            <div class="flex flex-wrap gap-1">
              {% for tag in story.tags[:collapsed_limit] if tag.name %}
                <a href="{{ update_query_params({'tags': tag.name}) | trim }}" class="badge badge-ghost badge-xs max-w-full truncate">
                  <span>{{ tag.name }}</span>
                </a>
              {% endfor %}
              {% if story.tags|length > collapsed_limit %}
                <span class="badge badge-outline badge-xs">+{{ story.tags|length - collapsed_limit }}</span>
              {% endif %}
            </div>
          </template>

          <template x-if="isOpen">
            <div class="flex flex-wrap gap-1">
              {% for tag in story.tags[:expanded_limit] if tag.name %}
                <a href="{{ update_query_params({'tags': tag.name}) | trim }}"
                   class="tooltip before:z-[50] badge badge-ghost badge-xs max-w-full"
                   data-tip="{{ tag.tag_type }}">
                  <span>{{ tag.name }}</span>
                </a>
              {% endfor %}
              {% if (not detail_view) and (story.tags|length > expanded_limit) %}
                <span class="badge badge-outline badge-xs">+{{ story.tags|length - expanded_limit }}</span>
              {% endif %}
            </div>
          </template>

        </div>
      </div>
    </div>

  {% endif %}

{% endmacro %}
