{% macro tri_state_filter(item) %}
  <label class="select w-full">
    <span class="label min-w-[100px]">{{ item.label }}</span>
    <select name="" onchange="this.name = this.value ? '{{ item.name }}' : ''" class="select select-bordered select-sm" hx-trigger="change">
      <option value="" {% if item.value in ['', None] %}selected{% endif %}>Any</option>
      <option value="true" {% if item.value == 'true' %}selected{% endif %}>Yes</option>
      <option value="false" {% if item.value == 'false' %}selected{% endif %}>No</option>
    </select>
  </label>
{% endmacro %}
