<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/app/taranis-ng-presenters/templates/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/app/taranis-ng-presenters/templates/css/custom.css">
</head>
<body>

    <div>
        <table class="table table-borderless">
            <tr>
                <td class="w20"><img src="/app/taranis-ng-presenters/templates/images/taranis.png"></td>
                <td class="w60 text-center align-middle sw_title">VULNERABILITY REPORT</td>
                <td class="w20 sw_number">No: SW1234-ER/2</td>
            </tr>
        </table>
        <br>
    </div>

</body>
</html>
