<Virtualhost *:80>
    ServerName {{ taranisng_hostname_gui }}
    DocumentRoot {{ taranisng_gui_webroot }}

    <Directory {{ taranisng_gui_webroot }}>
        AllowOverride All
        Options Indexes FollowSymLinks SymLinksIfOwnerMatch
        Require all granted
    </Directory>

    <Location />
        RewriteEngine On
        RewriteBase /
        RewriteRule ^index\.html$ - [L]
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule . /index.html [L]
    </Location>

    ErrorLog {{ taranisng_errorlog_gui }}
    CustomLog {{ taranisng_accesslog_gui }} combined

</Virtualhost>
