{% set create = request.path[-1:] == '0' | default('true') %}
{% set form_title = 'Organization' %}

{% set organization = organization
    | default({
        'id': '',
        'name': '',
        'description': '',
        'address': {
            'street': '',
            'city': '',
            'country': '',
            'zip': ''
        }
    })
%}

{% set form_error = form_error | default({}) %}
<div class="bg-base-100 rounded-sm p-4 w-4/5 mx-auto">
    <h1 class="text-3xl font-bold mb-5 w-4/5 mx-auto">{% if create %}Create{% else %}Edit{% endif %} {{ form_title }}</h1>

    <form id="organization-form" class="w-4/5 mx-auto" {% if create %}hx-post="/frontend/organizations"{% else %} hx-put="/frontend/organizations/{{ organization.id }}" {% endif %} hx-swap="innerHTML"  hx-target="#form-container" hx-target-error="#form-container">
        {% if error %}
        <p class="text-3xl font-bold mb-4 error-msg">{{ error }}</p>
        {% endif %}

        <label class="floating-label mb-5 w-3/5">
            <span>Name</span>
            <input id="name" type="text" placeholder="Name" class="w-3/5 input input-md  validator {% if form_error.name %}input-error{% endif %}" name="name" required value="{{ organization.name }}"/>
        </label>

        <label class="floating-label mb-5 w-3/5">
            <span>Description</span>
            <input type="text" placeholder="Description" class="w-3/5 input input-md validator" name="description" value="{{ organization.description }}" id="description" />
        </label>

        <label class="floating-label mb-5 w-3/5">
            <span>Street</span>
            <input type="text" placeholder="Street" class="w-3/5 input input-md validator" name="address[street]" value="{{ organization.address.street }}" id="street" />
        </label>

        <label class="floating-label mb-5 w-3/5">
            <span>City</span>
            <input type="text" placeholder="City" class="w-3/5 input input-md validator" name="address[city]" value="{{ organization.address.city }}" id="city" />
        </label>

        <label class="floating-label mb-5 w-3/5">
            <span>Country</span>
            <input type="text" placeholder="Country" class="w-3/5 input input-md validator" name="address[country]" value="{{ organization.address.country }}" id="country" />
        </label>

        <label class="floating-label mb-5 w-3/5">
            <span>ZIP</span>
            <input type="text" placeholder="ZIP" class="w-3/5 input input-md validator" name="address[zip]" value="{{ organization.address.zip }}" id="zip" />
        </label>
        <div class="flex flex-wrap mb-6">
            <div class="w-full px-3">
              <input type="submit" class="btn btn-primary" value="{% if create %}Create{% else %}Update{% endif %} {{ form_title }}" />
            </div>
        </div>
    </form>
</div>
