<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taranis AI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
  <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
  <meta name="htmx-config" content='{"selfRequestsOnly": false}' />
  <script src="{{ url_for('static', filename='js/response-targets.js') }}"></script>
  <script defer src="{{ url_for('static', filename='js/alpinejs.min.js') }}"></script>
  {% block head %}{% endblock %}
</head>
<body class="bg-base-300 min-h-screen" hx-ext="response-targets">
  <div class="container mx-auto w-full max-w-full">
    <div>
      {% include 'partials/debug_menu.html' %}
      {% include 'partials/error.html' %}
    </div>
    {% block content %}{% endblock %}
  </div>
</body>
</html>
