{% extends 'base.html' %}
{% block head %}
  <script src="{{ url_for('static', filename='js/fuse.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}
<div class="p-8" id="{{ model_name }}">
  <div class="text-3xl font-bold mb-4">
    <a href="{{ routes.base_route }}" class="text-blue-500 hover:underline">{{ name }}</a>
  </div>
  <div class="bg-base rounded-sm p-4" id="form-container">
    {% include templates.htmx_list_template %}
  </div>
</div>
{% endblock %}
