{% from "macros/table.html" import table %}

{% set columns = columns | default([
  {'title': 'Template Name', 'field': 'id', 'sortable': True, 'renderer': None},
  {'title': 'Validation Status', 'field': 'validation_status', 'sortable': False, 'renderer': None},
  {'title': 'Raw Validation Status', 'field': 'validation_status', 'sortable': False, 'renderer': None}
]) %}

{% set actions = actions | default([]) %}

{% set data = model_plural_name | get_var %}

{% set table_container = model_name + '-table-container' %}

<div id="{{ table_container }}" class="table-container" x-data="{ selectedItems: [] }">
  <table class="table shadow table-zebra table-sm" id="{{ table_container }}">
    <thead>
      <tr>
        <th>Template Name</th>
        <th>Validation Status</th>
        <th>Raw Validation Status</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        <td>{{ item.id }}</td>
  <td>{{ item.validation_status | render_validation_status }}</td>
        <td><pre>{{ (item.validation_status or {}) | tojson }}</pre></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
