{% set create = request.path.rsplit('/', 1)[-1] == '0' | default('true') %}
{% set form_error = form_error | default({}) %}

<script>
  require.config({ paths: { vs: window.location.origin + "{{ url_for('static', filename='js/vs') }}" } });

  require(['vs/editor/editor.main'], function() {
    const initial = {{ template.content | default('') | b64decode | tojson }};

    monaco.editor.create(
      document.getElementById('editor'),
      {
        value: initial,
        language: 'jinja',
        automaticLayout: true,
        theme: "vs-dark",
      }
    );
  });
</script>

<div class="bg-base-100 editor w-3/4 min-h-[60vh]" id="editor"></div>
