{% extends "base.html" %}

{% block head %}
  <script type="module" src="{{ url_for('static', filename='vendor/collaboration.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='vendor/codemirror.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/collaboration.js') }}"></script>
{% endblock head %}

{% block content %}
  <main class="mx-auto max-w-4xl space-y-5 p-6" data-collaboration-document="{{ document_id }}">
    {% include "collaboration/document_editor.html" %}
  </main>
{% endblock content %}
