name: build core

on:
  push:
    paths:
    - 'src/core/**'
    - 'docker/Containerfile.core'
    - '.github/workflows/build_core.yaml'
    branches:
    - master

permissions:
  packages: write
  contents: write

jobs:
  test:
    name: pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          prune-cache: false

      - name: Set up Python
        working-directory: src/core
        run: uv python install

      - name: Install dependencies
        working-directory: src/core
        run: uv sync --all-extras --dev

      - name: unit tests
        working-directory: src/core
        run: uv run pytest

      - name: Install Playwright dependencies
        working-directory: src/core
        run: uv run playwright install --with-deps chromium

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: |
            src/gui/pnpm-lock.yaml

      - name: Set Artifact Name
        run: echo "TRACES_ARTIFACT_NAME=playwright-traces-build-core" >> ${GITHUB_ENV}

      - name: e2e tests
        id: e2e_tests
        working-directory: src/core
        run: uv run pytest --e2e-ci

      - name: Upload a e2e-test trace
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() && steps.e2e_tests.outcome == 'failure' }}
        with:
          retention-days: 7
          overwrite: true
          name: ${{ env.TRACES_ARTIFACT_NAME }}
          path: src/core/trace.zip

  build_wheel:
    name: build wheel
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          prune-cache: false

      - name: Set up Python
        working-directory: src/core
        run: uv python install

      - name: build
        working-directory: src/core
        run: uv build

      - name: Upload wheel to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: taranis_core
          overwrite: true
          path: |
            src/core/dist/taranis_core-*.whl
            src/core/dist/taranis_core-*.tar.gz

  build_container:
    name: build container
    runs-on: ${{ matrix.os }}
    needs: test
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            arch: amd64
            platform: linux/amd64
            platform_pair: linux-amd64
          - os: ubuntu-24.04-arm
            arch: arm64
            platform: linux/arm64
            platform_pair: linux-arm64
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: set build env
        run: |
          echo "GHCR_OWNER=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}
          echo "GIT_INFO=$(./docker/git_info.sh)" >>${GITHUB_ENV}

      - name: Set metadata for container build
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ env.GHCR_OWNER }}/taranis-core
          labels: |
            org.opencontainers.image.architecture=${{ matrix.arch }}

      - name: Build and push core
        uses: docker/build-push-action@v6
        id: build
        with:
          file: docker/Containerfile.core
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          build-args: |
            git_info=${{ env.GIT_INFO }}
            BUILDKIT_CONTEXT_KEEP_GIT_DIR=true
          cache-from: type=registry,ref=ghcr.io/${{ env.GHCR_OWNER }}/taranis-core-cache:latest
          cache-to: type=registry,ref=ghcr.io/${{ env.GHCR_OWNER }}/taranis-core-cache:latest,mode=max
          outputs: type=image,"name=ghcr.io/${{ env.GHCR_OWNER }}/taranis-core",push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ matrix.platform_pair }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs:
      - build_container
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: set build env
        run: |
          echo "GHCR_OWNER=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set metadata for container build
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ env.GHCR_OWNER }}/taranis-core
          tags: |
            type=ref,event=tag
            type=ref,event=branch
            type=raw,value=latest

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf 'ghcr.io/${{ env.GHCR_OWNER }}/taranis-core@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ghcr.io/${{ env.GHCR_OWNER }}/taranis-core:${{ steps.meta.outputs.version }}
