name: GUI Docker image

on:
  push:
    paths:
    - 'src/gui/**'
    - 'docker/Dockerfile.gui'
    - 'VERSION.md'
    branches:
    - main

permissions:
  packages: write

jobs:
  build:
    name: build docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: set build env
        run: |
          echo "GHCR_OWNER=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}
          echo "GIT_INFO=$(./docker/git_info.sh)" >>${GITHUB_ENV}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push gui
        uses: docker/build-push-action@v4
        with:
          file: docker/Dockerfile.gui
          push: true
          tags: |
            ghcr.io/${{ env.GHCR_OWNER }}/taranis-ng-gui:${{ github.ref_name }}
          build-args: |
            git_info=${{ env.GIT_INFO }}
