name: Core Docker image

on:
  push:
    paths:
    - 'src/core/**'
    - 'docker/Dockerfile.core'
    - 'docker/gunicorn.conf.py'
    branches:
    - master
    - awake
    tags:
    - "**"

permissions:
  packages: write
  contents: write

jobs:
  test:
    name: pytest
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
          key: ${{ hashFiles('src/core/pyproject.toml') }}

      - name: Install dependencies
        working-directory: src/core
        run: pip install -e .[dev]

      - name: test
        working-directory: src/core
        run: |
          pip install -e .[dev]
          echo "Starting Pytest"
          pytest

  build_wheel:
    name: build wheel
    runs-on: ubuntu-22.04
    needs: test
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: build
        working-directory: src/core
        run: |
          python -m pip install --upgrade pip setuptools wheel build
          python -m build
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: |
            src/core/dist/taranis_core-*.whl
            src/core/dist/taranis_core-*.tar.gz
      - name: Release to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          password: ${{ secrets.PYPI_API_TOKEN_CORE }}
          packages-dir: src/core/dist/

  build_docker:
    name: build docker
    runs-on: ubuntu-22.04
    needs: test
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: set build env
        run: |
          echo "GHCR_OWNER=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}
          echo "GIT_INFO=$(./docker/git_info.sh)" >>${GITHUB_ENV}
      - name: Build and push core
        uses: docker/build-push-action@v4
        with:
          file: docker/Dockerfile.core
          push: true
          tags: |
            ghcr.io/${{ env.GHCR_OWNER }}/taranis-core:latest
            ghcr.io/${{ env.GHCR_OWNER }}/taranis-core:${{ github.ref_name }}
          build-args: |
            git_info=${{ env.GIT_INFO }}
