name: CI_Shared

on:
  push:
    paths:
    - 'src/shared/**'
    tags:
    - '**'

permissions:
  packages: write
  contents: write

jobs:
  build_wheel:
    name: build wheel
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: build
        working-directory: src/shared
        run: |
          python -m pip install --upgrade pip setuptools wheel build
          python -m build
      - name: Release to GitHub
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            src/shared/dist/taranis_ng_shared-*.whl
            src/shared/dist/taranis_ng_shared-*.tar.gz
      - name: Release to GitHub
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            src/shared/dist/taranis_ng_shared-*.whl
            src/shared/dist/taranis_ng_shared-*.tar.gz
      - name: Release to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN_SHARED }}
