name: test and lint

on:
  workflow_dispatch:
  pull_request:

jobs:
  test_core:
    name: pytest core
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'pip'

      - name: Install dependencies
        working-directory: src/core
        run: pip install -e .[dev]

      - name: Lint with ruff
        working-directory: src/core
        run: ruff check --output-format=github .

      - name: Run tests
        working-directory: src/core
        run: pytest

  e2e_tests:
    name: End-to-End Tests
    runs-on: ubuntu-latest
    needs: test_core
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'pip'

      - name: Install dependencies
        working-directory: src/core
        run: pip install -e .[dev]

      - name: Install Playwright dependencies
        working-directory: src/core
        run: playwright install --with-deps chromium

      - name: Run e2e tests
        working-directory: src/core
        run: pytest --e2e-ci

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          retention-days: 7
          overwrite: true
          name: ${{ format('playwright-traces-{0}-{1}', github.ref_name, github.event.pull_request.number) }}
          path: src/core/trace.zip

  test_worker:
    name: pytest worker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'pip'

      - name: Install dependencies
        working-directory: src/worker
        run: pip install -e .[dev]

      - name: Install playwright dependencies
        working-directory: src/worker
        run: playwright install --with-deps chromium

      - name: Lint with ruff
        working-directory: src/worker
        run: ruff check --output-format=github .

      - name: Run tests
        working-directory: src/worker
        run: pytest

  eslint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: |
            src/gui/package-lock.json
      - name: Install dependencies
        run: npm --prefix src/gui ci
      - name: Lint with eslint
        run: npm --prefix src/gui run lint_and_format
