name: linting

on:
  pull_request:

# TODO USE SECRET Environment variable to setup CICD pipeline

jobs:
  lint:
    name: lint & check formatting
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ['3.8', '3.10']
    steps:
      - uses: actions/checkout@v3
      - name: lint with black
        uses: rickstaa/action-black@v1
        with:
          black_args: "src --check"
          fail_on_error: false
