<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <meta name="htmx-config" content='{"selfRequestsOnly": false}' />
    <script src="{{ url_for('static', filename='js/response-targets.js') }}"></script>

</head>
<body class="bg-gray-100 p-8">
    
    <div class="container mx-auto w-full max-w-full">
        <!-- tmp menu here -->
         <div>
            <a href="{{ url_for('admin.dashboard') }}" class="text-blue-500 underline">Home</a>
            <a href="{{ url_for('admin.users') }}" class="text-blue-500 underline">Users</a>
            <a href="{{ url_for('admin.organizations') }}" class="text-blue-500 underline">Organizations</a>
            <div class="toast toast-top toast-end">
                <div class="alert alert-info">
                  <span id="status-msg"></span>
                </div>
              </div>
         </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>