<!-- Creates Table Controls Itmes per page, Page Number, Next, Previous, First, Last -->

{% from "macros/query_params.html" import update_query_params with context %}

Items per Page {{ data.limit }}
Current Range {{ data.current_range }} of {{ data.length }}

<a href="{{ update_query_params({'page': 1}) }}"
   class="{% if data.first_page %}pointer-events-none{% else %}link{% endif %}"
   hx-get="{{ update_query_params({'page': 1}) }}" hx-push-url="true">
    <<
</a>

<a href="{{ update_query_params({'page': data.current_page - 1}) }}"
   class="{% if data.first_page %}pointer-events-none{% else %}link{% endif %}"
   hx-get="{{ update_query_params({'page': data.current_page - 1}) }}" hx-push-url="true">
    <
</a>

<a href="{{ update_query_params({'page': data.current_page + 1}) }}"
   class="{% if data.last_page %}pointer-events-none{% else %}link{% endif %}"
   hx-get="{{ update_query_params({'page': data.current_page + 1}) }}" hx-push-url="true">
    >
</a>

<a href="{{ update_query_params({'page': data.total_pages}) }}"
   class="{% if data.last_page %}pointer-events-none{% else %}link{% endif %}"
   hx-get="{{ update_query_params({'page': data.total_pages}) }}" hx-push-url="true">
    >>
</a>