<script type="text/javascript">
    function getAuthToken() {
        return localStorage.getItem('ACCESS_TOKEN');
        // the following does not work
        // const cookieValue = document.cookie
        //     .split("; ")
        //     .find((row) => row.startsWith("access_token_cookie="))
        //     ?.split("=")[1];
        // console.log(`cookie: ${cookieValue}`);
        // return cookieValue;
    }
    function getCSRFToken() {
        const cookieValue = document.cookie
            .split("; ")
            .find((row) => row.startsWith("csrf_access_token="))
            ?.split("=")[1];
        return cookieValue;
    }
    document.body.addEventListener('htmx:configRequest', function(evt) {
        // evt.detail.parameters['auth_token'] = getAuthToken(); // add a new parameter into the request
        // evt.detail.headers['Authentication-Token'] = getAuthToken(); // add a new header into the request
        evt.detail.headers['Content-Type'] = 'application/json'; // add a new header into the request
        const auth_token = getAuthToken();
        evt.detail.headers['Authorization'] = `Bearer: ${auth_token}`; // add a new header into the request
        evt.detail.headers['X-CSRF-Token'] = getCSRFToken(); // add a new header into the request
    });
</script>


<div class="text-3xl font-bold mb-4">New User</div>


<form hx-post="{{ config.TARANIS_CORE_URL }}/config/users" hx-swap="outerHTML" class="w-full max-w-lg" hx-ext="json-enc,response-targets"  hx-target="#response-div" hx-target-error="#any-errors">
        <div id="response-div">normale response</div>
        <div id="any-errors">any errors</div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="username">
                Username
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="username" type="text" name="username" required>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
                Name
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="name" type="text" name="name" required>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="password">
                Password
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="password" type="password" name="password" required>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="roles">
                Roles
            </label>
            <select class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="roles" name="roles" required>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
        </div> 
    </div>
    <!-- organization -->
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="organization">
                Organization
            </label>
            <select class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="organization" name="organization" required>
                {% for organization in organizations %}
                <option value="{{ organization.id }}">{{ organization.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
               
                Create User
            </button>
        </div>
    </div>
</form>
