{% set error = error | default({}) %}
{% set new_user = action == 'new' | default(true) %}

{% set user = user
    | default({
        'id': '',
        'username': '',
        'name': '',
        'roles': [],
        'organization': '',
        '_errors': {}
    })
%}

{% set form_error = form_error | default({}) %}
{% set roles = roles | default([]) %}
{% set organizations = organizations | default([]) %}
<div class="bg-base-100 rounded-sm p-4 shadow-lg">
    {% if new_user %}
        <h1 class="text-3xl font-bold mb-5">Create User</h1>
    {% else %}
        <h1 class="text-3xl font-bold mb-5">Edit User</h1>
    {% endif %}



        <form id="user-form" {% if new_user %}hx-post="/frontend/users"{% else %} hx-put="/frontend/users/{{ user.id }}" {% endif %} hx-swap="innerHTML"  hx-target="#user-form-container" hx-target-error="#user-form-container" class="w-full max-w-lg">

        {% if error.globalerror %}
        <p class="text-3xl font-bold mb-4 error-msg">{{ error.globalerror }}</p>
        {% endif %}

        <label class="floating-label mb-5">
            <span>Username</span>

                <input id="username" type="text" placeholder="Username" class="input input-md  validator {% if form_error.username %}input-error{% endif %}" name="username" required value="{{ user.username }}"/>
        </label>

        <label class="floating-label mb-5">
            <span>Name</span>
            <input type="text" placeholder="Name" class="input input-md validator" name="name" required value="{{ user.name }}" id="userform_name" />
        </label>


        <label class="floating-label mb-5">
            <span>Password</span>
                <input id="user-password" type="password" placeholder="Password" class="input input-md validator" name="password"
                {% if new_user %}required hx-preserve{% endif %}/>
                {% if form_error.password %}
                    <span class="error">{{ form_error.password }}</span>
                {% endif %}
        </label>

        <label class="">
            <span>Roles</span>
        </label>
        <select name="roles[]" multiple required type="number" id="user-role-select">
            {% for role in roles %}
                {% if role.id in user.roles %}
                    <option value="{{ role.id }}" selected>{{ role.name }} - {{ role.description | truncate(50, true) }}</option>
                {% else %}
                    <option value="{{ role.id }}">{{ role.name }} - {{ role.description | truncate(50, true) }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <p class="validator-hint mb-5">Required</p>

        <!-- organization -->
        <label class="floating-label mb-5">
            <span>Organization</span>
            <select name="organization" required type="number" class="validator select">
                {% for organization in organizations %}
                {% if organization.id == user.organization %}
                    <option value="{{ organization.id }}" selected>{{ organization.name }}</option>
                {% else %}
                    <option value="{{ organization.id }}">{{ organization.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <p class="validator-hint">Required</p>
        </label>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                {% if action == 'new' %}
                    <input type="submit" class="btn btn-primary" value="Create User" />
                {% else %}
                    <input type="submit" class="btn btn-primary" value="Update User" />
                {% endif %}
            </div>
        </div>
    </form>

    {% if error|length > 1 %}
    <section id="status-msg">
        <div class="toast toast-top toast-end">
            <div class="alert alert-error">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                </svg>
                <span id="status-msg">{{ error }}</span>
                <svg onclick="return this.parentNode.remove();" class="inline w-4 h-4 fill-current ml-2 hover:opacity-80 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-114.7 0-208-93.31-208-208S141.3 48 256 48s208 93.31 208 208S370.7 464 256 464zM359.5 133.7c-10.11-8.578-25.28-7.297-33.83 2.828L256 218.8L186.3 136.5C177.8 126.4 162.6 125.1 152.5 133.7C142.4 142.2 141.1 157.4 149.7 167.5L224.6 256l-74.88 88.5c-8.562 10.11-7.297 25.27 2.828 33.83C157 382.1 162.5 384 167.1 384c6.812 0 13.59-2.891 18.34-8.5L256 293.2l69.67 82.34C330.4 381.1 337.2 384 344 384c5.469 0 10.98-1.859 15.48-5.672c10.12-8.562 11.39-23.72 2.828-33.83L287.4 256l74.88-88.5C370.9 157.4 369.6 142.2 359.5 133.7z"/>
                </svg>
            </div>
        </div>
    </section>
    {% endif %}
</div>

<script>
  var settings = {plugins: ['remove_button'], persist:false, 		onItemAdd:function(){
			this.setTextboxValue('');
			this.refreshOptions();
		},};
  new TomSelect('#user-role-select', settings);
</script>